body.awesome {

    .pad-left-0
    {
        padding-left:0px !important;
    }
    .pad-right-0
    {
        padding-right:0px !important;
    }
    .highlight-text {
        color: #66b106;
        font-size: 14px; 
        a {
            color:#66b106 !important;
            text-decoration: underline !important;
        }
    }
    .awesome-dashboard-heading{
        background:url('../img/world-map.jpg');
        background-position: 299px 20px;
        background-repeat: no-repeat;
        padding:30px 0px 100px 0px;

        @media screen and (max-width: 768px){

            background-position: -50px 20px;
        }
        h1{
            font-weight: 200;
            margin-bottom: 20px;
            font-size: 46px;
            line-height: 1.3em;
        }
        p{
            font-size: 17px;
            background-color:rgba(255,255,255,0.77);
        }

        img {
            padding:0;
        }
    }

    .pad-top-0 {
        padding-top:0;
    }
    /********* data-cards ************/

    .data-cards{

        margin-top:-70px;

        .card-custom{
            background:#fff;
            height:140px;
            border:1px solid #e4e4e4;
            margin-top:30px;
            @media screen and (max-width: 768px){
            margin-top:30px;
            }
            padding:15px 10px 20px 20px;
        h3,img{
            padding:0px;
            margin:0px;
        }

        .title{
            font-size: 16.5px;
            font-family: inherit;
            font-weight: normal;
            line-height: 1.1;
            color:#000;
            cursor:pointer;
        }
        p{
            line-height:1.2 !important;
            margin-top:0;
            color:$gray-light;
        }
        .view{
            position:absolute;
            top: 80px;
            cursor:pointer;
        }
        img {
            width:45px;
        }

    }
    }

    .bottom-section{
        .content1{
            font-weight:500;
            margin:40px 0px 0px 0px;
            span{
                color:$brand-warning;
            }
        }

        .data-offer{
            background-color:$gray-very-light;
            padding:30px 50px 30px 50px;
            margin:40px 0px 50px 0px;
            @media screen and (max-width: 768px){
                text-align:left;
                padding:30px 20px 30px 20px;
            }
            .icon-img{
                @media screen and (max-width: 768px){

                    padding-left:0px;
                }
            }
            h3,img{
                padding:0px !important;
                margin:0px !important;
            }
            h3{
                margin-top:10px !important;
                text-align: left !important;
            }
            .content p{
                line-height:1.3 !important;
                margin-bottom:30px;
            }
        }
    }


    /* Content */
    .content {
        h1,h2,h3,h4,h5,h6 {
            font-weight:300;

            .fas.fa-link {
                color:#000;
                font-size:12px;
            }
        }
        h3 {
            margin-top:35px;
        }

        .info {
            margin:60px 0;
            padding:10px 15px;
            background:#f5f5f5;
            text-align:center;
        }
    }

    .side-box{
        margin-top:20px;
        position:fixed;
        top:455px;
        margin-left:20px;
        width: 25.333%;
        right: 111px;
        background: #f7f7f7;
        overflow-x: hidden;
        padding: 20px;
        @media screen and (max-width:1199px){
          display:none;
        }
        img{
          width:30px;
          margin-right:20px;
        }
        h3{
          margin:0px 0px 10px 0px !important;
        }
        p{
          line-height:1.3;
        }
      }
}

body.awesome-text {

    .awesome-dashboard-heading {
        h1 {
            line-height: 0.7em;
        }
    }
}
