body.blog {
  .page-header {
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      color: $gray;
      font-size: 12px;
    }
  }
  .container .inner_container {
    .post {
      margin-bottom: 80px;
    }
    a h2 {
      color: $black;
    }
    p.meta {
      color: $gray;
      font-size: 12px;
    }
  }
}
