.showcase {
  max-width: 100%;
  @media (max-width: $screen-xs-min) {
    margin-bottom: 3em;
  }
  a.btn {
    padding: 8px 25px;
  }
  .status {
    padding: 20px;
  }
  .error-log-heading {
    font-size: 14px;
    margin-top: 12px;
  }
  .error-log-title {
    color: $black;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
    margin-top: 8px;
    &:before {
      content: "\f105";
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: 400;
      margin-right: 5px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      float: left;
      transition: transform .25s linear;
      -webkit-transition: -webkit-transform .25s linear;
    }
    &[aria-expanded="true"]:before {
      content: "\f105";
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  .error-log {
    color: $black;
    margin: 0;
    margin-left: 11px;
  }

  .progressing-heading {
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
  }
  .progressing-title {
    padding: 0 1% 0 10%;
  }
  .progressing-item {
    margin-top: 8px;
  }
  .pipeline-title {
    text-decoration: underline;
    margin-top: 20px;
  }
  .main-item {
    display: inline-block;
    margin: 10px;
  }

  // Hiding unnecessary parts of goodtables-ui report: warnings, success messages,
  // report heading. Making number of errors visible.
  .goodtables-ui-report {
    td.danger {
      background-color: #d9534f;
    }
    .alert-warning, .alert-success {
      display: none;
    }
    .report-table {
      .panel-heading {
        position: relative;
        .label {
          margin-right: 5px;
        }
      }
      .file-heading {
        display: none;
      }
      .count {
        @extend .label-danger;
      }
      .panel-title {
        display: inline-block;
        margin-left: 20px;
      }
      .error-details-link {
        position: absolute;
        right: 30px;
      }
    }
  }

  .anchor-link {
    color: black;
    text-decoration: underline;
  }

  .view-placeholder {
    width: 100%;
    height: 200px;
    background-color: $state-danger-bg;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding-top: 93px;
  }
}
h1 {
  span {
    vertical-align: middle !important;
    font-size: 14px !important;
  }
}
blockquote {
  font-size: inherit;
}
.avatar {
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}
.info {
  table-layout: fixed;
  thead tr th {
    position: relative;
    font-size: 1.15em;
    border-bottom: 0;
  }
  tbody tr td {
    border-top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.resource-listing {
  table-layout: fixed;
  thead tr th {
    position: relative;
    border-bottom: 0;
  }
  tbody tr td {
    border-top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.readme-snippet {
  margin-bottom: 2em;
}
.side-bar {
  background-color: $brand-success;
}
.side-img {
  padding: 3% 4% 0 4%;
}
.side-section {
  margin: 50px 2vw 0 4vw;
  overflow-wrap: break-word;
  .btn-group a.btn {
    border: 0;
  }
}
.header {
  max-width: 700px;
  margin: auto;
}
.row-eq-height {
  max-width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
h2.publisher {
  font-style: italic;
  font-size: 1.8em;
}
.publisher {
  margin: 0 0 20px 0;
}
.dataset {
  .main-img {
    padding: 10%;
  }
  .info {
    padding-top: 5%;
  }
  h2 {
    font-size: 1.5em;
  }
  h2.section-title {
    font-size: 1.9em;
    color: $brand-primary;
    a i {
      font-size: 0.7em;
    }
  }
  h3 {
    font-size: 1.3em;
  }
  .side-section h3 {
    font-size: 1.3em;
    margin-bottom: 0.8em;
    color: $black;
    @media (min-width: $screen-sm-min) {
      font-size: 1.3em;
    }

    @media (min-width: $screen-md-min) {
      font-size: 1.7em;
    }
  }
  .actions .row {
    margin-bottom: 2em;
  }
  .react-me {
    text-align: center;
    max-width: 100%;
  }
  .part {
    margin-bottom: 4em;
  }
  .notice {
    margin: 1em 0 4em;
    color: $gray;
    font-size: 12px;
  }
  .btn-group {
    margin-bottom: 10px;
  }
  .side-section {
    .table-bordered {
      border-color: darken($gray, 20%);
      th, td {
        border-color: darken($gray, 20%);
      }
    }
  }
}

.text-cube {
  margin: 0;
  padding: 2% 0;
}
.left-cube {
  padding-right: 0;
}
.right-cube {
  padding-left: 0;
}

.share-and-embed {
  margin-bottom: 100px;
}
.tables {
  .share-and-embed {
    margin: 20px 0;
    text-align: left;
  }
}
.copy-input {
  width: 220px;
  margin: 0 10px;
}
.copy-button {
  @extend .btn;
  @extend .btn-default;
  margin: 0 14px 0 0;
  padding: 2px 10px;
}

.handsontable {
  height: 432px;
  overflow: hidden;
}
#hTable0, #hTable1, #hTable2, #hTable3, #hTable4, #hTable5,
#hTable6, #hTable7, #hTable8, #hTable9, #hTable10,
#hTable0v, #hTable1v, #hTable2v, #hTable3v {
  border-bottom: 1px solid #ccc;
}
#hTable0v, #hTable1v, #hTable2v, #hTable3v {
  margin-bottom: 30px;
}
.main-section {
  padding-left: calc(2vw + 15px);
}
.download {
  margin: 20px 0 4em 0;
  padding-right: 0;
}
.nav li.active a {
  color: white;
  &:hover, &:focus {
    color: white;
  }
}
.nav-pills li a {
  border: 1px solid #eee;
}
.tab-content {
  margin-top: 20px;
}

.logs {
  width: 100%;
  height: calc(100vh - 345px);
}
div.readme {
  img {
    max-width: 100%;
  }

  div.info {
    border: 1px solid $gray-light;
    border-radius: 2px;
    margin: 40px 0;
    padding: 20px;
    background-color: $gray-very-light;
    color: $gray;
    p {
      margin: 0;
    }
  }

  .header-anchor {
    i {
      font-size: 16px;
      color: $gray-light;
      padding: 0 6px;
    }
  }
}
