body.datafactory {
    h1 {
      margin-bottom: 1.5em;
    }
    .data-factory-heading{
        margin:30px 0px 20px 0px;
        h1{
          font-weight: 200;
          margin-bottom: 20px;
          font-size: 46px;
          line-height: 1.3em;

          img{
            width:40px;
            margin-right:15px;
            position:relative;
            bottom:5px;
          }
        }
        p{
          font-size: 18px;
        }
      }
    .use-open-framework{
        margin:70px 0px 80px 0px;
        .img1{
            width:70%;
            @media screen and (max-width: 768px){
                width:100%;
                margin:0px;
            }
        }
        h2{
            font-size:36px;
            font-weight:200;
            margin-top:0px;
            margin-bottom:40px !important;
            @media screen and (max-width: 768px)
            {
                margin-top:40px;
            }
        }
        .list{
            margin-top:20px;
            .pad-left-0-custom{
                @media screen and (max-width: 768px)
                {
                  padding-left:0px;
                  margin-left:0px;
                }
              }
        }
    }


    .datafactory-process{
        margin:60px 0px 60px 0px;
        h2{
            font-size:36px;
            font-weight:200;
            margin-top:0px;
            @media screen and (max-width: 768px)
            {
                margin-top:0px;
            }
        }
        .icon-groups{
            margin: 30px 0px 170px 0px;


            .dots{
                background-image: url("../img/data-factory/dot.jpg");
                background-repeat: repeat-x;
                height:30px;
                width:90%;
                position:relative;
                top:72px;
                z-index:-100;

            }
            .grouping{
                padding:0px;
                z-index:100;
                margin:0px;
                .element-external{
                    float: left;
                    margin-left: 9%;

                    @media screen and (min-width:1024px) and (max-width:1200px){
                        margin-left: 0%;
                    }

                    @media screen and (max-width:1024px) {
                        display:none;
                    }

                    .element{
                        width:140px;
                        @media screen and (min-width:1024px) and (max-width:1200px){
                            margin-right:60px;
                        }

                        .thumb{
                            background:#f0f0f0;
                            height:100px;
                            width:100px;
                            img{
                                width:100%;
                                padding:20px;
                            }
                        }


                    }

                    .margin-right-0{
                        margin-right:0px !important;
                    }
                    p{
                        position:relative;
                        left: -22px;
                        top:10px;
                     }


                }

                .element-external:first-child {
                    margin-left:0;
                }


            }

        }

        @media screen and (max-width:1024px) {
            .icon-groups{
                display:none;
            }
        }

        .list{
            margin:30px 0px 0px 0px;
            p{
                span{
                    color:$brand-warning;
                    font-size: 22px;
                    font-weight: 400;
                    margin-right:5px;
                }
            }
        }
    }

    .why-datafactory{
        margin:20px 0px 80px 0px;
        .img1{
            margin-top:-20px;
            width:75%;
            @media screen and (max-width: 768px){
                width:100%;
                margin:20px 0px 0px 0px !important;
            }
        }
        h2{
            font-size:36px;
            font-weight:200;
            margin-top:0px;
            margin-bottom:40px !important;
            @media screen and (max-width: 768px)
            {
                margin-top:40px;
            }
        }
        .list{
            margin-top:20px;
            .pad-left-0-custom{
                @media screen and (max-width: 768px)
                {
                  padding-left:0px;
                  margin-left:0px;
                }
              }
        }
    }
    .datafactory-contain{
        margin:70px 0px 80px 0px;
        @media screen and (max-width: 768px){
            margin:70px 0px 100px 0px;
        }
        .img1{
            box-shadow: 2px 3px 16px 0px rgba(97, 97, 97, 0.30);
            width:70%;
            margin-top:120px;
            border-radius: 4px;
            @media screen and (max-width: 768px){
                margin-top:30px !important;
                width:100%;
                margin:0px;
            }
        }

        h2{
            font-size:36px;
            font-weight:200;
            margin-top:0px;
            margin-bottom:40px !important;
            @media screen and (max-width: 768px)
            {
                margin-top:0px;
            }
        }
        .list{
            margin-top:20px;
            .pad-left-0-custom{
                @media screen and (max-width: 768px)
                {
                  padding-left:0px;
                  margin-left:0px;
                }
              }
        }
    }
    .three-elements {
        margin-top:-20px;
        margin-bottom:50px;
      }
      .three-elements .element
      {
        text-align:center;
        padding:60px 10px 60px 10px;
        background-color:#fafafa;
        /*border-radius:7px;*/
        margin-bottom:30px;
      }
      .three-elements .element h4
      {
        margin:30px 0px 60px 0px;
        font-size: 32px;
        font-weight: 200;
      }
      .three-elements .element p
      {
        margin:20px 0px 25px 0px;
      }

      .console {
        width: 450px;
        height: 310px;
        border-radius: 5px;
        background: #000;
        box-shadow: 70px 70px 100px 10px rgba(0,0,0,0.1);
        margin: auto;
      }

      .window {
        border: 1px solid #333;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 5px;
        box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.1);
      }

      .browser {
        background: #fff;
        width: 450px;
        height: 290px;
        border-radius: 5px;
        margin: auto;
      }

      .browser .window {
        border-color:#fff;
      }

      .header {
        width: 100%;
        height: 36px;
        position: absolute;

        .title {
          color: #999;
          font-size: 12px;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
          position: absolute;
          top: 6px;
          left: 0;
          right: 0;
          text-align: center;
          width: 200px;
          margin: auto;
          border-radius: 4px;
          padding: 4px;
        }

        .title-bg {
          background-color: #F7F7F7;
        }

        .icon {
          border-radius: 50%;
          display: inline-block;
          width: 12px;
          height: 12px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }

        // rename from close to handle conflict with bootstrap
        .close-terminal {
          background-color: #ff5f56;
          left: 13px;
        }
        .minimize {
          background-color: #ffbd2e;
          left: 33px;
        }
        .fullScreen {
          background-color: #27c93f;
          left: 53px;
        }
      }

      .body {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding-top: 43px;
        position: absolute;
        overflow: auto;
      }

      .console-inner {
        color: #fff;
        font-size: 12px;
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
        line-height: 24px;
        margin: 0 16px;

        text-align: left;

        pre {
          font-size: 12px;
          font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
          line-height: 20px;
          margin: 0;
          white-space: pre-wrap;
          color: #fff;
          background-color: transparent;
          border: none;
        }

        .prompt {
          color: #ccc;
        }
        .square {
          color: #fff;
        }

        .cursor {
          background: #f81ce5;
          display: inline-block;
          width: 7px;
          height: 15px;
          vertical-align: middle;
        }
      }

      .browser .body img {
        margin: auto;
        max-height: 100%;
      }

    
    .img1.pull-up {
        margin-top: -30px;
    }
}
