body.docs {
  .docs-section {
    margin: 50px 0 130px 0;
    div {
      margin-top: 30px;
    }
    h1, h2, p.description {
      text-align: center;
    }
    h1 {
      margin-bottom: 40px;
    }
  }

  a.section-link {
    color: $black;
    &:hover {
      div {
        border-color: $brand-warning;
      }
    }
    div {
      border: 1px solid rgba(0,0,0,0);
      border-radius: 2px;
      padding: 0 5%;
      h4 {
        color: $brand-warning;
      }
      p {
        color: $black;
      }
    }
  }
}
