body.docs {
  div.row {
    margin-left: 0;
    margin-right: 0;
  }
  .docs-section {
    margin: 50px 0 130px 0;
    div {
      margin-top: 30px;
    }
    h1, h2, p.description {
      text-align: center;
    }
    h1 {
      margin-bottom: 40px;
    }
  }
  img {
    max-width: 100%;
  }
  a.section-link {
    color: $black;
    &:hover {
      div {
        border-color: $brand-warning;
      }
    }
    div {
      border: 1px solid rgba(0,0,0,0);
      border-radius: 2px;
      padding: 0 5%;
      h4 {
        color: $brand-warning;
      }
      p {
        color: $black;
      }
    }
  }
  .header-anchor {
    i {
      font-size: 16px;
      color: $gray-light;
      padding: 0 6px;
    }
  }
  div.info {
    border: 1px solid $gray-light;
    border-radius: 2px;
    margin: 40px 0;
    padding: 20px;
    background-color: $gray-very-light;
    color: $gray;
    p {
      margin: 0;
    }
  }
  div.cli-output {
    border: 1px solid $black;
    border-radius: 2px;
    margin: 40px 0;
    padding: 20px;
    background-color: $black;
    color: white;
    p {
      margin: 0;
    }
    a {
      &:hover {
        color: $brand-warning;
        text-decoration: none;
      }
    }
  }
}
