body.download {
  margin: 0;
  .wrapper {
    margin-bottom: 100px;
    text-align: center;
    .img-wrapper {
      padding: 0 23%;
      margin-bottom: 30px;
    }
    h1, p {
      margin-bottom: 30px;
    }
    p.info {
      margin: auto;
      margin-top: 12px;
      margin-bottom: 12px;
      color: $gray;
      font-size: 12px;
    }
    p.message {
      margin: 50px 0 30px;
    }
    p.command {
      color: $gray;
    }
    h1:nth-of-type(2) {
      margin-top: 3.5em;
    }
    a {
      padding: 14px 20px;
    }
    a.normal-link {
      padding: 0 !important;
      margin: 0 !important;
    }
    a:nth-of-type(1) {
      margin-right: 20px;
    }
    a:nth-of-type(2) {
      margin-left: 20px;
      margin-right: 20px;
    }
    a:nth-of-type(3) {
      margin-left: 20px;
    }
    .steps {
      padding: 0 40px;
      margin: 30px 0;
    }
    .step-heading {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
