/* Footer */
.footer {
  padding:140px 0 60px;
  background-color:#fafafa;
  background-image:url('../img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size:contain;

  @media screen and (max-width:768px){
    
        padding: 120px 0 60px !important;
    label {
        padding-top:30px;
    }
  }
}

footer h3 {
  padding:0px 0 15px 0;
}

footer p {
  color:#636363;
}

footer label {
  text-transform:uppercase;
  color:#313131;
  padding:0px 0 15px 0;
}

footer ul {
  padding:0;
  margin:0;
  list-style: none;
}

footer ul li {
  padding-bottom:8px;
}

footer ul li a {
  color:#000000;
}

.footer-bottom {
    background-color:#fafafa;
    padding:20px 0 10px 0;

    @media screen and (max-width:768px){
      .social-icons {
          text-align:left;
      }
    }
}

.footer-bottom p {
  color:#909090;
}

.footer-bottom .social-icons{ 
  padding-top:2px;
  text-align:right;
}
.footer-bottom .social-icons a {
  padding-right:10px;
  color:#121046;
}
.footer-bottom .social-icons a:hover {
  opacity:.7;
}

.footer-bottom .fas {
  
  font-size:16px;
}