/* Footer */
.footer {
    padding:160px 0 90px;
    background-color:#f5f9fc;
    background-image:url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position:top center;
}

footer h3 {
    padding:0px 0 15px 0;
    color:#abaae6;
    font-weight:900;
}

footer p {
    color:#636363;
}

footer label {
    text-transform:uppercase;
    color:#100f45;
    padding:0px 0 15px 0;
}

footer ul {
    padding:0;
    margin:0;
    list-style: none;
}

footer ul li {
    padding-bottom:8px;
}

footer ul li a {
    color:#2a286c;
    font-weight:600;
}

.footer-bottom {
    background-color:#f1f5fb;
    padding:12px 0 10px 0;
}

.footer-bottom p {
    color:#9e9fb5;
}

.footer-bottom .social-icons{
    padding-top:2px;
    text-align:right;
}
.footer-bottom .social-icons a {
    padding-right:10px;
    font-weight:900;
    color:#121046;
}
.footer-bottom .social-icons a:hover {
    opacity:.7;
}

.footer-bottom .fas {

    font-size:16px;
}

/* Responsive */
@media screen and (max-width:768px) {
  footer {
      padding: 120px 0 60px !important;
  }
  footer label {
      padding-top:30px;
  }

  .footer-bottom .social-icons {
      text-align:left;
  }
}
