/* General stylings
=====================================*/
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100%;
  @media (max-width: $screen-xs-min) {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
.container-no-top-padding {
  @extend .container;
  padding-top: 0 !important;
}
.no-left-padding {
  margin-left: -8px;
}
.resource-summary {
  thead tr th {
    border-bottom: 1px solid #ddd;
  }
  tbody tr {
    th, td {
      border-top: 0;
      border-bottom: 0;
    }
  }
}
.biege-wrapper {
  background-color: $brand-success;
  min-height: calc(100vh - 52px - 82px);
  @media (max-width: $screen-xs-min) {
    margin-bottom: 3em;
  }
}
p {
  overflow-wrap: break-word;
}
a {
  color: $brand-warning;
  &:hover {
    color: $black;
  }
}

.vertical-center {
  @media (min-width: $screen-xs-min) {
    height: calc(100vh - 251px); /* 251px is sum of heights of banner, navbar and footer */
  }
  width: 100%;
  text-align: center;  /* align the inline(-block) elements horizontally */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */

  .login {
    margin-top: 20px;
  }
}

.container {
  /* padding-left: 5%;
  padding-right: 5%; */
  @media (min-width: 768px) {
    padding-top: 30px;
  }
}
.inner_container {
  /* max-width: 960px; */
  margin: auto;
}

.table {
  font-size: 12px;
}

.ReactVirtualized__Table__headerRow {
  height: 30px !important;
  padding-top: 5px;
  border: 1px solid #ddd;
  border-bottom-width: 2px;
}
.ReactVirtualized__Table__headerColumn {
  border-right: 1px solid #ddd;
  &:last-of-type {
    border-right: 0;
  }
}

.ReactVirtualized__Table__row {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.ReactVirtualized__Table__rowColumn {
  padding-top: 5px;
  border-right: 1px solid #ddd;
  &:last-of-type {
    border-right: 0;
  }
}


.color-red {
  color:#e70000 !important;
}
.color-white 
{
  color:#fff;
}
.color-blue 
{
  color:#20add0;
}
.color-green {
  color:#59c040;
}
.pad-top-0 {
  padding-top:0;
}

.margin-top-0 {
  margin-top:0;
}
.btn-orange {
  background-color:#ff7900;
  border-color:#ff7900;
  padding:8px 20px;
}

.heading-slim {
  font-weight:200;
}

/* Tables */
.table {
  box-shadow:0px 0px 24px #e8e8e8;
}

.table thead tr th {
  padding:20px;
  background-color:#fafafa;
  color:#000;
}
.table>thead>tr>th {
  border-bottom: 0px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: 0px solid #ddd;
}
.table>tbody>tr>td {
  padding: 10px 0 10px 30px;
  color:#353535;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #fafafa;
}