/* Jumbotron main
====================================*/

.home {
  /* Tables */
  .table {
    box-shadow:0px 0px 24px #e8e8e8;
  }

  .table thead tr th {
    padding:20px;
    background-color:#fafafa;
    color:#000;
  }
  .table>thead>tr>th {
    border-bottom: 0px solid #ddd;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px solid #ddd;
  }
  .table>tbody>tr>td {
    padding: 10px 0 10px 30px;
    color:#353535;
  }
  .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fafafa;
  }
}

.jumbotron-primary, .jumbotron-secondary {
  background: white;
  padding-bottom: 5em;
}

.jumbotron-primary {
  position: relative;
  margin-top: -10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.home-banner {
  padding-top:30px;
}


.jumbotron-secondary {
  form {
    margin-top: 30px;
    input, textarea {
      margin-bottom: 20px;
    }
  }
  .medium {
    padding: 0 5%;
    @media (min-width: $screen-sm-min) {
      padding: 0 15%;
    }
    @media (min-width: $screen-md-min) {
      padding: 0 25%;
    }
    hr {
      margin-bottom: 0;
      border-top: 4px solid #000;
    }
  }
  strong {
    font-style: bold;
  }
}

.container .jumbotron {
  padding: 30px;
  padding-top: 10px;
  margin-bottom: 0;

  .main-img {
    width: 70px;
    height: 70px;
    margin: auto;
  }

  h1 {
    font-weight: 200;
    margin-bottom: 30px;
    font-size:46px;
    line-height: 1.3em;

    span {
      color: #ff7900;
      font-size: 46px !important;
      position: relative;
      top: -7px;
    }
  }
  p {
    font-size: 18px;
    padding-bottom: 4px;
    line-height: 2em;
  }
  h1.main-title {
    margin: 30px 0 20px;
  }
  .message {
    font-style: italic;
  }
  a {
    margin: 20px 0;
  }

  .request-access {
    font-size: 80%;
    text-style: italic;
  }
}

.jumbotron .demo {
  margin-top: 25px;

  .console {
    width: 450px;
    height: 290px;
    border-radius: 5px;
    background: #000;
    box-shadow: 70px 70px 100px 10px rgba(0,0,0,0.1);
    margin: auto;
  }

  .window {
    border: 1px solid #333;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.1);
  }

  .browser {
    background: #fff;
    width: 450px;
    height: 290px;
    border-radius: 5px;
    margin: auto;
  }

  .browser .window {
    border-color:#fff;
  }

  .header {
    width: 100%;
    height: 36px;
    position: absolute;

    .title {
      color: #999;
      font-size: 12px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      position: absolute;
      top: 6px;
      left: 0;
      right: 0;
      text-align: center;
      width: 200px;
      margin: auto;
      border-radius: 4px;
      padding: 4px;
    }

    .title-bg {
      background-color: #F7F7F7;
    }

    .icon {
      border-radius: 50%;
      display: inline-block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    // rename from close to handle conflict with bootstrap
    .close-terminal {
      background-color: #ff5f56;
      left: 13px;
    }
    .minimize {
      background-color: #ffbd2e;
      left: 33px;
    }
    .fullScreen {
      background-color: #27c93f;
      left: 53px;
    }
  }

  .body {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 43px;
    position: absolute;
    overflow: auto;
  }

  .console-inner {
    color: #fff;
    font-size: 12px;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    line-height: 24px;
    margin: 0 16px;

    text-align: left;

    pre {
      font-size: 12px;
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
      line-height: 20px;
      margin: 0;
      white-space: pre-wrap;
      color: #fff;
      background-color: transparent;
      border: none;
    }

    .prompt {
      color: #ccc;
    }
    .square {
      color: #fff;
    }

    .cursor {
      background: #f81ce5;
      display: inline-block;
      width: 7px;
      height: 15px;
      vertical-align: middle;
    }
  }

  .browser .body img {
    margin: auto;
    max-height: 100%;
  }
}

.jumbotron .call-to-action {
	margin-top: 10px;

	.subtitle {
    font-family: -apple-system,BlinkMacSystemFont,"Droid Sans","Helvetica Neue",sans-serif;
		font-size: 20px;
		font-weight: 400;
		margin-top: 40px;
	}

	p {
		font-size: 14px;
	}

  a:nth-of-type(1) {
    margin-right: 20px;
  }
  a:nth-of-type(2) {
    margin-left: 20px;
    padding-left: 38.5px;
    padding-right: 38.5px;
  }
  a.arrow {
    font-size: 3em;
    margin-right: 0;
  }
}

.jumbotron .call-to-action-new {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.home {
  .section-title {
    margin-bottom: 50px;
  }

  .primary-call-to-action {
    padding: 6% 15%;
  }

  .container .jumbotron-primary {
    min-height: calc(100vh - 114px);
  }

  .info {
    font-size:14px;
    margin-top:20px;
    text-align:center;
  }
}


/********************** three elements section ******************/
.three-elements {
  margin-top:-100px;
  margin-bottom:50px;
}
.three-elements .element
{
  text-align:center;
  padding:40px 40px;
  background-color:#fafafa;
  /*border-radius:7px;*/
  margin-bottom:30px;
}
.three-elements .element h4
{
  margin-top:15px;
  font-size: 32px;
  font-weight: 200;
}
.three-elements .element p
{
  margin:20px 0px 25px 0px;
}

/* Section 1
====================================*/

.section {
  img:not(.avatar) {
    box-shadow: 0 4px 38px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  h1 {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    line-height: 34px;
    text-align: left;
  }
  h2 {
    margin: 10px 0 0 0;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: $gray;
  }
  h3 {
    text-align: left;
    margin: 0 0 15px 0;
    font-size: 16px;
    line-height: 20px;
    a {
      color: $black !important;
      text-decoration: underline;
    }
  }
  p.readme {
    display: none;
  }
  .package-summary {
    margin-bottom: 60px;
  }
  ul {
    margin: 40px auto 0 20px;
    padding: 0;
    max-width: 440px;
    list-style: square;
  }
  .aside {
    padding: 60px 15px;
  }
  .consulting {
    padding: 60px 15px;
    h1, h2 {
      text-align: center;
    }
    ul.left {
      padding: 0 0 0 25%;
    }
    ul.right {
      padding: 0 25% 0 0;
    }
    .btn-wrapper {
      text-align: center;
      margin-top: 160px;
    }
  }
  a.btn-default {
    color: $brand-warning;
  }
  .left {
    padding-right: 20px;
  }
  .right {
    padding-left: 20px;
  }
  .img-wrapper-left {
    padding-right: 60px;
  }
  .img-wrapper-right {
    padding-left: 60px;
  }
  p {
    text-align: left;
    margin-bottom: 30px;
  }
  .row {
    margin-bottom: 40px;
  }
  input {
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.popular-datasets {
  padding: 60px 0;
  h1 {
    text-align: center !important;
    margin-bottom: 60px;
  }
  .datasets-column-left {
    border-right: 2px solid lighten($gray-light, 30%);
    padding-right: 45px;
  }
  .datasets-column-right {
    padding-left: 45px;
  }
  .button-wrapper {
    text-align: center;
  }
}

a.btn-primary {
  &:hover {
    background-color: white;
    color: $black;
  }
}

.section-gray {
  background-color: $gray-very-light;
}

.section-centered {
  padding-left: 15%;
  padding-right: 15%;
}

h2.section-title {
  font-size: 32px;
}

.readable-width {
  max-width: 650px;
}

.normal {
  margin-bottom: 10px !important;
}


/* Susbscribe */
.subscribe-form
{
padding:50px 50px 100px 50px;

}
.subscribe-heading {
  padding-bottom :45px

}

.subscribe-input {
  margin-bottom:30px
}

.custom-input
{
display: block;

    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.7142857143;
    color: #757575;
    background-color: #fff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.subscribe-form h3
{
margin-bottom:40px;
}
#form-for-blog
{
padding-top:30px;
}


/******************** publish-data-section ********************/

.publish-data .img-sec
{
    position:relative;
}
.publish-data .img-sec .grey-box
{
    position:absolute;
    bottom:-90px;
    right:-120px;
    max-width:318px;
    padding:25px 30px 30px 30px;
    border:15px solid #fff;
    background-color:#fafafa;

    p.inner-heading {
      font-size: 24px;
      font-weight:300;
    }
}
.publish-data .img-sec .grey-box img
{
    width:80px;
}
.publish-data .img-sec .grey-box p:nth-child(3)
{
    margin:5px 0px 15px 0px;
}
.publish-data .right-box h1
{
    margin:0px 0px 20px 0px;
}
.publish-data .right-box ul
{
    padding-left:0px;
    list-style: none;
    margin:25px 0px 35px 0px;
}
.publish-data .right-box ul li
{
    margin-top:10px;
}
.publish-data .right-box ul li::before
{
    content: "\2022";
    color:#ff7900;
    margin-right:10px;
}
.publish-data
{
    padding:100px 0px 60px 0px;

    @media screen and (max-width:768px){
        padding: 50px 0px 60px 0px;

        .right-box {
            margin-top:130px;
        }

        .img-sec .grey-box
        {
            position:absolute;
            bottom:-110px;
            right:0px;
            max-width:300px;
            border:15px solid #fff;
            border-right:0px;
        }

        .sm-pad-right-0 {
            padding-right:0;
        }

    }


  @media screen and (max-width:480px){
     .img-sec .grey-box
      {
          position:absolute;
          bottom:-110px;
          right:0px;
          max-width:300px;
          border:15px solid #fff;
          border-right:0px;
      }

  }

}


/************************* core-datasets ******************/
.core-datasets
{
    padding:70px 0px 70px 0px;

    .square {
      background-color:#fafafa;
    }

    .square h4 {
      color:#000;
    }

    .square p {
      color:#313131;
    }
    @media screen and (max-width:768px){

      padding: 50px 0px 70px 0px;

      .square, .square-sm,.square-md {
          width:100% !important;
      }

      .square:after {
        content: "";
        display: block;
        padding-bottom: auto;
        height:auto;
      }
  }


  @media screen and (max-width:480px){
      .xs-pad-right-0 {
          padding-right:0;
      }
  }

  @media screen and (max-width:1200px){
      .square {
          width:100%;
      }

      .square .content img {
          display:none;
      }
  }
  @media screen and (min-width:1200px){
        .square {
          position: relative;
        }
        .square-sm {
            width:23%;
        }

        .square-md {
           width: 47%;
        }

        .square-sm h4{
            padding-top:0;
            margin-top:0;
            font-size:12px;
            margin-bottom:0;
            padding-bottom:5px;
        }
        .square-sm p {
            font-size:8px;
            line-height:1em;
            padding-top:0px;
        }

        .square-md h4 {
            padding-top:8px;
            margin-bottom:0;
            padding-bottom:3px;
        }
        .square-md p {
            padding-top:0px;
        }
        .square:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        .square.move-up {
              margin-top:-24%;
          }

       .square .content {
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .square .content a {
            position:absolute;
            bottom:15px;
        }
  }
}

.core-datasets .square {
    float:left;
    margin-right:8px;
    margin-bottom:8px;
}


.core-datasets h3
{
    margin-bottom:20px;
}

.core-datasets .heading2
{
    margin-left:0px;
}

.core-datasets .square .content {
    padding:20px;
    color:#fff;
}


.core-datasets .square:hover {
    transition:.3s;
    background-color:#f5f5f5;
}
.core-datasets .right-box
{
    margin-left:0px;
}
.core-datasets .right-box h1
{
    margin:0px 0px 30px 0px;
}
.core-datasets .right-box ul
{
    padding-left:0px;
    list-style: none;
    margin:25px 0px 35px 0px;
}
.core-datasets .right-box ul li
{
    margin-top:25px;
}
.core-datasets .right-box ul li::before
{
    content: "\2022";
    color:#ff7900;
    margin-right:10px;
}


.core-datasets .info-1 {
    font-size: 25px;
    font-weight: 200;
    padding-bottom: 20px;
}

.core-datasets .info-2 {
    color:#ff7900;
    text-align:right
}


/***************************8 request-data *******************/
.request-data
{
    padding:30px 0px 50px 0px;
}
.request-data .left-sec h1
{
    margin:8px 0px 40px 0px;
}
.request-data .group1
{
    margin-bottom:165px;
}
.request-data .icon.purple
{
    -webkit-box-shadow: 2px 3px 16px 0px rgba(97,97,97,0.14);
-moz-box-shadow: 2px 3px 16px 0px rgba(97,97,97,0.14);
box-shadow: 2px 3px 16px 0px rgba(97,97,97,0.14);
}
.request-data .icon.brown
{
    -webkit-box-shadow: 2px 3px 16px 0px rgba(97, 97, 97, 0.14);
-moz-box-shadow: 2px 3px 16px 0px rgba(97,97,97,0.14);
box-shadow: 2px 3px 16px 0px rgba(97,97,97,0.14);
}
.request-data .icon.blue
{
  -webkit-box-shadow: 2px 3px 16px 0px rgba(97, 97, 97, 0.14);
  -moz-box-shadow: 2px 3px 16px 0px rgba(97,97,97,0.14);
  box-shadow: 2px 3px 16px 0px rgba(97,97,97,0.14);
}
.request-data .icon.red
{
  -webkit-box-shadow: 2px 3px 16px 0px rgba(97, 97, 97, 0.14);
  -moz-box-shadow: 2px 3px 16px 0px rgba(97,97,97,0.14);
  box-shadow: 2px 3px 16px 0px rgba(97,97,97,0.14);
}
.request-data .icon
{
    background:#fff;
    width:65px;
    height:65px;
    margin: 0 30px 15px 0px;
    border-radius:40px;

}

.request-data .icon img
{
    padding: 16px;
}
.request-data .card
{
  margin-top: 0;
  padding-bottom: 24px;
}
.request-data .card h4
{
    margin-bottom:10px;
}
.request-data .card p
{
    line-height:1.5;
}



/************** data os **********************/
.data-os {
    padding:70px 0;

    .content p {
      font-size:16px;
    }
}

.data-os .heading1 {
    padding-bottom:10px;
}
.data-os .dotted-area {
    position:relative;
}

.data-os #dotted-1 {
    position:absolute;
    top:40px;
    left:0;
    width:20%;
}
.data-os #dotted-2 {
    position:absolute;
    top:40px;
    left:23%;
    width:20%;
}
.data-os #dotted-3 {
    position:absolute;
    top:40px;
    left:50%;
    width:20%;
}
.data-os #dotted-4 {
    position:absolute;
    top:40px;
    left:80%;
    width:20%;
}
.data-os .artwork
{
    background-image:url("../img/dotted.png");
    height:220px;
    margin-top:30px;
    margin-bottom:10px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;

    @media screen and (max-width:768px) {
      display:none;
    }
}
.data-os .content .number
{
    background-color:#ff7900;
    color:#fff;
    height:40px;
    width:40px;
    padding:7px;
    border-radius:50px;
}


/********************** section 6 ******************/
.hire-us
{
    padding:70px 0px 70px 0px;
}
.hire-us .left-sec h1
{
    margin:16px 0px 30px 0px;
    font-weight:200;
}
.hire-us .left-sec h3 {
  font-weight:200;
}
.hire-us .left-sec p
{
    margin-bottom:35px;
}

.hire-us .right-sec
{
    background-color:#fafafa;
    width:100%;
    border-radius:3px;
    padding:50px 30px 50px 30px;
}
.hire-us .right-sec h5
{
    font-weight:500;
    margin-top:3px;
    margin-left:5px;
    margin-bottom:4px;
    letter-spacing:1.5px;
}
.hire-us .right-sec p
{
    margin-left:5px;
    font-weight:200;
}
.hire-us .right-sec .list
{
    margin-bottom:70px;
}
