body.home {
      font-family: 'Muli', sans-serif;
      font-size:13.7px !important;
      letter-spacing: 0.4px !important;

      /* Applying new styles on home */
      p
      {
          line-height:1.8;
          padding:0px;
          margin:0px;
      }
      p,li,ul
      {

          font-weight:600 !important;
      }
      h1,h2,h3,h4,h5,h6
      {
          padding:0px;
          margin:0px;
      }
      a,a:hover{
          text-decoration: none;
      }
      .heading1
      {
          font-weight:600;
          line-height:1.3;
          color:#131149;
      }
      .heading2
      {
          font-weight:800;
          font-size:19px;
      }

      .back-blue
      {
          background-color:#2a286c;
      }
      .back-dark-blue {
          background-color:#110f46;
      }

      .color-red {
          color:#e70000 !important;
      }
      .color-white
      {
          color:#fff;
      }
      .color-blue
      {
          color:#20add0;
      }

      .btn-custom
      {
          padding:9px 35px;
          border-radius:5px;
      }

      .btn-blue
      {
          background-color:#20add0;
          color:#fff;
      }
      .btn-blue:hover
      {
          color:#fff;
          background-color:#1da1c1;
          transition:0.3s ease;
      }
      .btn-outline {
          background-color:transparent;
          transition:.3s ease-in-out;
          font-weight:800;
      }
      .btn-outline.btn-blue {
          border:2px solid #1da1c1;
          color:#25c0e6;
      }
      .btn-outline.btn-blue:hover {
          border:2px solid #25c0e6;
          background:transparent;
      }

      .padding-left-0
      {
          padding-left:0px !important;
          margin-left:0px !important;
      }
      .padding-right-0
      {
          padding-right:0px !important;
          margin-right:0px !important;
      }




      /* Tables */
      .table {
          box-shadow:0px 0px 24px #e8e8e8;
      }

      .table thead tr th {
          padding:20px;
          background-color:#f5f9fc;
          color:#20add0;
      }
      .table>thead>tr>th {
          border-bottom: 0px solid #ddd;
      }
      .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
          border-top: 0px solid #ddd;
      }
      .table>tbody>tr>td {
          padding: 10px 0 10px 30px;
          font-weight:700;
          color:#3a3864;
      }
      .table-striped>tbody>tr:nth-of-type(odd) {
          background-color: #f5f9fc;
      }


      /********************** three elements section ******************/
      .three-elements {
          margin-top:-100px;
      }
      .three-elements .element
      {
          text-align:center;
          padding:40px 60px;
          background-color:#fff;
          border-radius:7px;
          -webkit-box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.16);
          -moz-box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.16);
          box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.16);
          margin-bottom:30px;
      }
      .three-elements .element h4
      {
          font-weight:900;
          margin-top:15px;
      }
      .three-elements .element p
      {
          color:#7782aa;
          margin:20px 0px 25px 0px;
      }
      .three-elements .element a
      {
          color:#2687f1;
      }



      /******************** publish-data-section ********************/
      .publish-data
      {
          padding:150px 0px 60px 0px;
      }
      .publish-data .img-sec
      {
          position:relative;
      }
      .publish-data .img-sec .blue-box
      {
          position:absolute;
          bottom:-90px;
          right:-120px;
          max-width:318px;
          padding:25px 30px 30px 30px;
          border:15px solid #fff;
      }
      .publish-data .img-sec .blue-box img
      {
          width:80px;
      }
      .publish-data .img-sec .blue-box p:nth-child(3)
      {
          color:#abaae6;
          margin:5px 0px 15px 0px;
      }
      .publish-data .right-box h3
      {

      }
      .publish-data .right-box h1
      {
          margin:20px 0px 20px 0px;
      }
      .publish-data .right-box p,li
      {
          color:#3a3864;
      }
      .publish-data .right-box ul
      {
          padding-left:0px;
          list-style: none;
          margin:25px 0px 35px 0px;
      }
      .publish-data .right-box ul li
      {
          margin-top:25px;
      }
      .publish-data .right-box ul li::before
      {
        content: "\25CF";
        font-family: FontAwesome;
        color: #21add0;
        margin-right: 8px;
    }


      /***************************8 request-data *******************/
      .request-data
      {
          padding:140px 0px 50px 0px;
      }
      .request-data .left-sec h1
      {
          margin:16px 0px 40px 0px;
      }
      .request-data .group1
      {
          margin-bottom:165px;
      }
      .request-data .icon.purple
      {
          -webkit-box-shadow: 2px 3px 16px 0px rgba(51,40,132,0.14);
      -moz-box-shadow: 2px 3px 16px 0px rgba(51,40,132,0.14);
      box-shadow: 2px 3px 16px 0px rgba(51,40,132,0.14);
      }
      .request-data .icon.brown
      {
          -webkit-box-shadow: 2px 3px 16px 0px rgba(99,48,11,0.14);
      -moz-box-shadow: 2px 3px 16px 0px rgba(99,48,11,0.14);
      box-shadow: 2px 3px 16px 0px rgba(99,48,11,0.14);
      }
      .request-data .icon.blue
      {
          -webkit-box-shadow: 2px 3px 16px 0px rgba(0,95,146,0.17);
      -moz-box-shadow: 2px 3px 16px 0px rgba(0,95,146,0.17);
      box-shadow: 2px 3px 16px 0px rgba(0,95,146,0.17);
      }
      .request-data .icon.red
      {
          -webkit-box-shadow: 2px 3px 16px 0px rgba(204,58,58,0.14);
      -moz-box-shadow: 2px 3px 16px 0px rgba(204,58,58,0.14);
      box-shadow: 2px 3px 16px 0px rgba(204,58,58,0.14);
      }
      .request-data .icon
      {
          background:#fff;
          width:65px;
          height:65px;
          margin:15px 30px 10px 0px;
          border-radius:40px;

      }

      .request-data .icon img
      {
          padding:10px;
      }
      .request-data .card
      {
          margin-top:20px;
      }
      .request-data .card h4
      {
          font-weight:700;
          margin-bottom:10px;
      }
      .request-data .card p
      {
          line-height:1.5;
          color:#3a3864;
      }



      /************************* core-datasets ******************/
      .core-datasets
      {
          padding:100px 0px 70px 0px;
      }

      .core-datasets .square {
          float:left;
          margin-right:8px;
          margin-bottom:8px;
      }


      .core-datasets h3
      {
          margin-bottom:20px;
      }

      .core-datasets .heading2
      {
          margin-left:0px;
      }

      .core-datasets .square .content {
          padding:20px;
          color:#fff;
      }


      .core-datasets .square:hover {

          transition:.3s;
          opacity:.95;
      }
      .core-datasets .right-box
      {
          margin-left:0px;
      }
      .core-datasets .right-box h1
      {
          margin:0px 0px 20px 0px;
      }
      .core-datasets .right-box p,li
      {
          color:#3a3864;
      }
      .core-datasets .right-box ul
      {
          padding-left:0px;
          list-style: none;
          margin:25px 0px 35px 0px;
      }
      .core-datasets .right-box ul li
      {
          margin-top:25px;
      }
      .core-datasets .right-box ul li:before
      {
        content: "\25CF";
        font-family: FontAwesome;
        color: #21add0;
        margin-right: 8px;
    }

      .core-datasets .table tbody tr td:nth-child(4),.core-datasets .table tbody tr td:nth-child(5) {
          font-weight:400;
      }

      .core-datasets .info-1 {
          color:#20add0;
      }

      .core-datasets .info-2 {
          color:#292883;
          text-align:right
      }



      /************** data os **********************/
      .data-os {
          padding:100px 0;
      }

      .data-os .heading1 {
          padding-top:15px;
          padding-bottom:10px;
      }
      .data-os .dotted-area {
          position:relative;
      }

      .data-os #dotted-1 {
          position:absolute;
          top:40px;
          left:0;
          width:20%;
      }
      .data-os #dotted-2 {
          position:absolute;
          top:40px;
          left:23%;
          width:20%;
      }
      .data-os #dotted-3 {
          position:absolute;
          top:40px;
          left:50%;
          width:20%;
      }
      .data-os #dotted-4 {
          position:absolute;
          top:40px;
          left:80%;
          width:20%;
      }
      .data-os .artwork
      {
        background-image:url("../img/dotted.png");
        height:220px;
        margin-top:30px;
        margin-bottom:10px;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .data-os .content .number
      {
        background-color:#20add0;
        color:#fff;
        height:40px;
        width:40px;
        padding:7px;
        border-radius:50px;
      }
      .data-os .content p
      {
        font-weight:700 !important;
      }
      /********************** section 6 ******************/
      .hire-us
      {
          padding:70px 0px 70px 0px;
      }
      .hire-us .left-sec h1
      {
          margin:16px 0px 30px 0px;
      }
      .hire-us .left-sec p
      {
          margin-bottom:35px;
      }

      .hire-us .right-sec
      {
          background-color:#f7fafd !important;
          width:100%;
          border-radius:3px;
          padding:50px 30px 50px 30px;
      }
      .hire-us .right-sec h5
      {
          font-weight:800;
          margin-top:3px;
          margin-left:5px;
          margin-bottom:4px;
          letter-spacing:1.5px;
      }
      .hire-us .right-sec p
      {
          color:#7782aa;
          margin-left:5px;
      }
      .hire-us .right-sec .list
      {
          margin-bottom:70px;
      }

      /* Responsive */
      @media screen and (max-width:768px){

        .three-elements .element {
            text-align: center;
            padding: 20px 10px;
        }
        .heading1 {
            font-size:24px;
        }

        .publish-data {
            padding: 50px 0px 60px 0px;
        }

        .request-data {
            padding: 50px 0px 50px 0px;
        }

        .core-datasets {
            padding: 50px 0px 70px 0px;
        }

        .data-os {
            padding: 50px 0 0 0;
        }

        .publish-data .right-box {
            margin-top:130px;
        }

        .publish-data .img-sec .blue-box
        {
            position:absolute;
            bottom:-110px;
            right:0px;
            max-width:300px;
            border:15px solid #fff;
            border-right:0px;
        }

        .sm-pad-right-0 {
            padding-right:0;
        }

        .square, .square-sm,.square-md {
            width:100% !important;
        }

        .square:after {
            content: "";
            display: block;
            padding-bottom: auto;
            height:auto;
          }

          .data-os .artwork
          {
            display:none;
          }
          .data-os .content
          {
            margin-top:90px;
          }

      }


      @media screen and (max-width:480px){
        .publish-data .img-sec .blue-box
        {
            position:absolute;
            bottom:-110px;
            right:0px;
            max-width:300px;
            border:15px solid #fff;
            border-right:0px;
        }

        .xs-pad-right-0 {
            padding-right:0;
        }
        .data-os .content
        {
          margin-top:70px;
        }
        .data-os .artwork
        {
          display:none;
        }
    }

    @media screen and (max-width:1200px){
        .square {
            width:100%;
        }

        .square .content img {
            display:none;
        }
    }
    @media screen and (min-width:1200px){
          .square {
            position: relative;
          }
          .square-sm {
              width:23%;
          }

          .square-md {
             width: 47%;
          }

          .square-sm h4{
              font-size:12px;
          }
          .square-sm p {
              font-size:8px;
              line-height:1em;
              padding-top:5px;
              color:#abaae6;
          }

          .square-md h4 {
              padding-top:8px;
          }
          .square-md p {
              color:#abaae6;
              padding-top:10px;
          }
          .square:after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }

          .core-datasets .square.move-up {
                margin-top:-24%;
            }

         .square .content {
            position: absolute;
            width: 100%;
            height: 100%;
          }

          .square .content a {
              position:absolute;
              bottom:15px;
          }
    }
}
