/* Jumbotron main
====================================*/

.jumbotron-primary, .jumbotron-secondary {
  background: white;
  padding-bottom: 5em;
}

.jumbotron-primary {
  position: relative;
  margin-top: -10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.home-banner {
  padding-top:30px;
}


.jumbotron-secondary {
  form {
    margin-top: 30px;
    input, textarea {
      margin-bottom: 20px;
    }
  }
  .medium {
    padding: 0 5%;
    @media (min-width: $screen-sm-min) {
      padding: 0 15%;
    }
    @media (min-width: $screen-md-min) {
      padding: 0 25%;
    }
    hr {
      margin-bottom: 0;
      border-top: 4px solid #000;
    }
  }
  strong {
    font-style: bold;
  }
}

.container .jumbotron {
  padding: 30px;
  padding-top: 10px;
  margin-bottom: 0;

  .main-img {
    width: 70px;
    height: 70px;
    margin: auto;
  }

  h1 {
    font-weight: 200;
    margin-bottom: 30px;
    font-size:46px;
    line-height: 1.3em;

    span {
      color: #ff7900;
      font-size: 46px !important;
      position: relative;
      top: -7px;
    }
  }
  p {
    font-size: 18px;
    padding-bottom: 4px;
    line-height: 2em;
  }
  h1.main-title {
    margin: 30px 0 20px;
  }
  .message {
    font-style: italic;
  }
  a {
    margin: 20px 0;
  }

  .request-access {
    font-size: 80%;
    text-style: italic;
  }
}

.jumbotron .demo {
  margin-top: 25px;

  .console {
    width: 450px;
    height: 290px;
    border-radius: 5px;
    background: #000;
    box-shadow: 70px 70px 100px 10px rgba(0,0,0,0.1);
    margin: auto;
  }

  .window {
    border: 1px solid #333;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.1);
  }

  .browser {
    background: #fff;
    width: 450px;
    height: 290px;
    border-radius: 5px;
    margin: auto;
  }

  .browser .window {
    border-color:#fff;
  }

  .header {
    width: 100%;
    height: 36px;
    position: absolute;

    .title {
      color: #999;
      font-size: 12px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      position: absolute;
      top: 6px;
      left: 0;
      right: 0;
      text-align: center;
      width: 200px;
      margin: auto;
      border-radius: 4px;
      padding: 4px;
    }

    .title-bg {
      background-color: #F7F7F7;
    }

    .icon {
      border-radius: 50%;
      display: inline-block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    // rename from close to handle conflict with bootstrap
    .close-terminal {
      background-color: #ff5f56;
      left: 13px;
    }
    .minimize {
      background-color: #ffbd2e;
      left: 33px;
    }
    .fullScreen {
      background-color: #27c93f;
      left: 53px;
    }
  }

  .body {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 43px;
    position: absolute;
    overflow: auto;
  }

  .console-inner {
    color: #fff;
    font-size: 12px;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    line-height: 24px;
    margin: 0 16px;

    text-align: left;

    pre {
      font-size: 12px;
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
      line-height: 20px;
      margin: 0;
      white-space: pre-wrap;
      color: #fff;
      background-color: transparent;
      border: none;
    }

    .prompt {
      color: #ccc;
    }
    .square {
      color: #fff;
    }

    .cursor {
      background: #f81ce5;
      display: inline-block;
      width: 7px;
      height: 15px;
      vertical-align: middle;
    }
  }

  .browser .body img {
    margin: auto;
    max-height: 100%;
  }
}

.jumbotron .call-to-action {
	margin-top: 10px;

	.subtitle {
    font-family: -apple-system,BlinkMacSystemFont,"Droid Sans","Helvetica Neue",sans-serif;
		font-size: 20px;
		font-weight: 400;
		margin-top: 40px;
	}

	p {
		font-size: 14px;
	}

  a:nth-of-type(1) {
    margin-right: 20px;
  }
  a:nth-of-type(2) {
    margin-left: 20px;
    padding-left: 38.5px;
    padding-right: 38.5px;
  }
  a.arrow {
    font-size: 3em;
    margin-right: 0;
  }
}

.jumbotron .call-to-action-new {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.home {
  .section-title {
    margin-bottom: 50px;
  }

  .primary-call-to-action {
    padding: 6% 15%;
  }

  .container .jumbotron-primary {
    min-height: calc(100vh - 114px);
  }

  .info {
    font-size:14px;
    margin-top:20px;
    text-align:center;
  }
}


/********************** three elements section ******************/ 
.three-elements {
  margin-top:-100px;
  margin-bottom:50px;
}
.three-elements .element
{
  text-align:center;
  padding:40px 40px;
  background-color:#fafafa;
  border-radius:7px;
  margin-bottom:30px;
}
.three-elements .element h4 
{
  margin-top:15px;
  font-size: 32px;
  font-weight: 200;
}
.three-elements .element p 
{
  margin:20px 0px 25px 0px;
}

/* Section 1
====================================*/

.section {
  img:not(.avatar) {
    box-shadow: 0 4px 38px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  h1 {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    line-height: 34px;
    text-align: left;
  }
  h2 {
    margin: 10px 0 0 0;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: $gray;
  }
  h3 {
    text-align: left;
    margin: 0 0 15px 0;
    font-size: 16px;
    line-height: 20px;
    a {
      color: $black !important;
      text-decoration: underline;
    }
  }
  p.readme {
    display: none;
  }
  .package-summary {
    margin-bottom: 60px;
  }
  ul {
    margin: 40px auto 0 20px;
    padding: 0;
    max-width: 440px;
    list-style: square;
  }
  .aside {
    padding: 60px 15px;
  }
  .consulting {
    padding: 60px 15px;
    h1, h2 {
      text-align: center;
    }
    ul.left {
      padding: 0 0 0 25%;
    }
    ul.right {
      padding: 0 25% 0 0;
    }
    .btn-wrapper {
      text-align: center;
      margin-top: 160px;
    }
  }
  a.btn-default {
    color: $brand-warning;
  }
  .left {
    padding-right: 20px;
  }
  .right {
    padding-left: 20px;
  }
  .img-wrapper-left {
    padding-right: 60px;
  }
  .img-wrapper-right {
    padding-left: 60px;
  }
  p {
    text-align: left;
    margin-bottom: 30px;
  }
  .row {
    margin-bottom: 40px;
  }
  input {
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.popular-datasets {
  padding: 60px 0;
  h1 {
    text-align: center !important;
    margin-bottom: 60px;
  }
  .datasets-column-left {
    border-right: 2px solid lighten($gray-light, 30%);
    padding-right: 45px;
  }
  .datasets-column-right {
    padding-left: 45px;
  }
  .button-wrapper {
    text-align: center;
  }
}

a.btn-primary {
  &:hover {
    background-color: white;
    color: $black;
  }
}

.section-gray {
  background-color: $gray-very-light;
}

.section-centered {
  padding-left: 15%;
  padding-right: 15%;
}

h2.section-title {
  font-size: 32px;
}

.readable-width {
  max-width: 650px;
}

.normal {
  margin-bottom: 10px !important;
}


/* Susbscribe */
.subscribe-form
{
padding:100px;

}
.custom-input
{
display: block;
    
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.7142857143;
    color: #757575;
    background-color: #fff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.subscribe-form h3
{
margin-bottom:40px;
}
#form-for-blog
{
padding-top:30px;
}


/********************** section 6 ******************/ 
.hire-us 
{
    padding:70px 0px 70px 0px;
}
.hire-us .left-sec h1 
{
    margin:16px 0px 30px 0px;
    font-weight:200;
}
.hire-us .left-sec h3 {
  font-weight:200;
}
.hire-us .left-sec p 
{
    margin-bottom:35px;
}

.hire-us .right-sec 
{
    background-color:#fafafa;
    width:100%;
    border-radius:3px;
    padding:50px 30px 50px 30px;
}
.hire-us .right-sec h5 
{
    font-weight:500;
    margin-top:3px;
    margin-left:5px;
    margin-bottom:4px;
    letter-spacing:1.5px;
}
.hire-us .right-sec p
{
    margin-left:5px;
    font-weight:200;
}
.hire-us .right-sec .list
{
    margin-bottom:70px;
}