/* Jumbotron main
====================================*/
.jumbotron-primary, .jumbotron-secondary {
  background: white;
  padding-bottom: 5em;
}
.jumbotron-primary {
  a.btn {
    width: 130px;
  }
  a.arrow {
    font-size: 3em;
  }
}
.jumbotron-secondary {
  form {
    margin-top: 30px;
    input, textarea {
      margin-bottom: 20px;
    }
  }
  .medium {
    padding: 0 5%;
    @media (min-width: $screen-sm-min) {
      padding: 0 15%;
    }
    @media (min-width: $screen-md-min) {
      padding: 0 25%;
    }
    hr {
      margin-bottom: 0;
      border-top: 4px solid #000;
    }
  }
  strong {
    font-style: bold;
  }
}
.jumbotron {
  padding-top: 10px;
  margin-bottom: 0;
  .terminal-heading {
    margin-bottom: 0;
    margin-top: 40px;
    span {
      padding: 3px;
      border: 1px solid;
    }
  }
  h1 {
    font-weight: 200;
    margin-bottom: 30px;
  }
  h1.main-title {
    margin: 30px 0;
  }
  form {
    margin-bottom: 30px;
    padding: 0 10%;
    @media (min-width: $screen-sm-min) {
      padding: 0 15%;
    }
    @media (min-width: $screen-md-min) {
      padding: 0 25%;
    }
  }
  .narrow {
    padding: 0 5%;
    @media (min-width: $screen-sm-min) {
      padding: 0 15%;
    }
    @media (min-width: $screen-md-min) {
      padding: 0 35%;
    }
    hr {
      margin-bottom: 0;
      border-top: 2px solid #000;
    }
  }
  .message {
    font-style: italic;
  }
  a {
    margin: 20px 0;
  }
}

.main-img {
  width: 100px;
  height: 100px;
}
