/* Navbar
====================================*/

.banner {
	background: #fafafa;
	color: #000;
	text-align: center;
	padding: 10px;
	font-size: 12px;
  margin-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
}

.banner a {
	text-decoration: none;
	color: $link;
	font-size: inherit;
}

.navbar {
  border: 0;
  min-height: 60px;
  .navbar-main {
    width: 70%;
    margin: auto;
  }
  .navbar-right {
    li a {
      color: $black;
    }
  }
  .main-logo {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url('../img/logo-cube.png') no-repeat;
    background-size: 100%;
  }
  .searchbox {
    margin: 7.5px;
    input {
      border-color: $gray;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
}

@media (min-width: 768px) {
  .navbar .container {
    padding-top: 0;
  }
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
