/* Navbar
====================================*/

.banner {
	background: #fafafa;
	color: #000;
	text-align: center;
	padding: 10px;
	font-size: 12px;
  margin-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
}

.navbar {
  border: 0;
  min-height: 60px;
  .navbar-main {
    width: 70%;
    margin: auto;
  }
  .main-logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: $black;
    color: #fff;
  }
  .searchbox {
    margin: 7.5px;
    input {
      border-color: $gray;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }

  .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
  }

	.navbar-nav > li > a.download-link {
    color: $brand-warning;
  }

  .navbar-nav > li > a.chat:after {
    content: '';
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #8be2df;
    margin-left: 6px;
    border-radius: 50%;
  }

	a.nav-avatar {
		padding-top: 16px;
	}
	img.nav-avatar {
		width: 28px;
	}
	div.popover {
		top: 48px !important;
		left: -100px !important;
		.arrow {
			left: 80% !important;
		}
		.popover-content {
			padding: 20px 65px 20px 20px;
		}
		a.a-popover {
			color: $gray !important;
			&:hover {
				color: $black !important;
				text-decoration: none;
			}
		}
		p {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media (min-width: 768px) {
  .navbar .container {
    padding-top: 0;
  }
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
