body.premium-data {
  padding-bottom: 0;
  .vertical-center {
    height: 200px !important;
  }
  h4 {
    margin: 20px 0;
  }
  form {
    height: 320px;
  }
  input[type="submit"] {
    margin: 20px 0;
  }
}
