.table-pricing > tbody > tr > td,
.table-pricing > tbody > tr > th,
.table-pricing > tfoot > tr > td,
.table-pricing > tfoot > tr > th,
.table-pricing > thead > tr > td,
.table-pricing > thead > tr > th {
  border: none;
}

.table.pricing {
  width: 750px;
  margin: auto;
  margin-top: 30px;

  tbody, td, th, tr {
    vertical-align: middle;
    border: none;
    text-align: left;
    padding: 0;
  }

  th {
    font-size: 20px;
    font-weight: 400;
    width: 150px;
  }

  td {
    font-size: 14px;
    padding: 17px 0;
  }

  .pricing td {
    font-weight: 500;
    font-size: 18px;
  }

  .left-heading {
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 17px 0;
  }

  i.fa-times {
    color: red;
  }
  i.fa-check {
    color: green;
  }
  span.secondary {
    color: $gray-light;
  }

  tfoot td {
    font-size: 12px;
    color: $gray-light;
  }
}

.table.pricing.premium-data {
  th, td {
    text-align: center;
  }
  td.left-heading {
    text-align: left;
  }
}
