body.search {

  @media screen and (max-width:500px) {
    .pad-xs-left-zero{
      padding-left:0px !important;
    }
    .pad-xs-right-zero{
      padding-right:0px !important;
    }
  }
  .pad-left-zero{
    padding-left:0px !important;
  }
  .pad-right-zero{
    padding-right:0px !important;
  }
  .search-page{
    padding-top: 35px;
    
    .section-logo {
        width:67px;
        margin:0 !important;

        @media screen and (max-width:768px){
            padding-bottom: 15px;
            padding-top: 15px;
        }
    }
    .heading{
        margin:0px 0px 50px 0px;
        h1{
            font-weight: 200;
            margin: -10px 0px 10px 0px;
            font-size: 38px;

            @media screen and (max-width:768px){
                font-size: 22px;
            }
        }
        p{
            font-size: 14px;
        }
    }
    .search-section{

        background-color:$gray-very-light;
        padding:30px;
        margin-bottom:30px;
        input{
          width:100% !important;
          border:2px solid #d8d8d8;
          @media screen and (max-width:500px){
            margin-bottom:10px;
          }
          
        }
        input:focus
        {
          box-shadow: none !important;
        }
        .btn{
          width:100% !important;
          padding:10px 12px !important;

        }
        h4{
          color:#BBBBBB;
        }
    }
    .results{

      hr {
        margin-top:40px !important;
        margin-bottom:34px !important;
      }

      .square {
        
        position:relative;
        border-bottom:1px solid #eeeeee;
        padding: 30px 0px 30px 0px;
        @media screen and (max-width:500px){
          padding: 30px 0px 30px 0px;
        }
      }
      .border-none 
      {
        border:none !important;
      }


      .square h3 {
        color:#000;
        margin-bottom:10px;
        margin-top:0px;
      }

      .square p {
        color:#313131;
        margin-top:10px;
        @media screen and (max-width:500px){
          margin-top:15px;
        }
      }
      .square .content span {
        color:$gray-light;
       
      }
      .square .content span.pull-right{
        @media screen and (max-width:500px){
          float:left !important;
        }
      }
      .square .content ul{
        list-style:none;
        @media screen and (max-width:500px){
          float:left !important;
          margin:0px;
          padding:0px;
        }
      }
      .square .content ul li{
        display:inline-block;
        margin-left:20px;
        @media screen and (max-width:500px){
          margin-left:0px;
          margin-right:20px;
        }
      }
      .square .content ul li .core-img{
        width:20px !important;
        height:20px !important;
        border-radius:40px;
        margin-right:5px;
      }
      .square .content ul li .img-icons{
        width:20px !important;
        height:20px !important;
        margin-right:5px;
      }
      .square .content p {
        margin-bottom:0px !important;
      }
      @media screen and (max-width:768px){



        .square, .square-sm,.square-md {
            width:100% !important;
        }

        .square:after {
          content: "";
          display: block;
          padding-bottom: auto;
          height:auto;
        }
    }

    }
    .side-box{
      margin-top:20px;
      position:fixed;
      top:302px;
      margin-left:20px;
      width: 25.333%;
      right: 111px;
      background: #f7f7f7;
      overflow-x: hidden;
      padding: 20px;
      @media screen and (max-width:1199px){
        display:none;
      }
      img{
        width:30px;
        margin-right:20px;
      }
      h3{
        margin:0px 0px 10px 0px !important;
      }
      p{
        line-height:1.3;
      }
    }

    

  }
  .pagination > li > a,.pagination > li > span{
    border:1px solid #fff !important;
    padding: 6px 5px;
  }

  /*************
  h1 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .search-banner {
    margin-top: 30px;
  }

  .search-icon {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .search-form {
    margin-bottom: 30px;

    input {
      border-color: $black;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      width: 80%;
      height: 38px;
    }

    button {
      margin-left: 7px;
    }
  }

  h4.search-summary {
    color: $black;
    margin: 1.5em 0em 0.8em 0em;
  }

  .package-summary {
    margin-bottom: 20px;

    .publisher {
      margin: 0 0 10px 0;
    }
    .package-title, .package-title-published, .package-title-unlisted {
      a {
        text-decoration: underline;
        color: $black;
      }
    }
    .meta {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  li.current-page {
    a.page-link {
      color: $brand-warning;
      background: white;
    }
  }


  *******************/
}
