body.search {
  h1 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .search-banner {
    margin-top: 30px;
  }

  .search-icon {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .search-form {
    margin-bottom: 30px;

    input {
      border-color: $black;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      width: 80%;
      height: 38px;
    }

    button {
      margin-left: 7px;
    }
  }

  h4.search-summary {
    color: $black;
    margin: 1.5em 0em 0.8em 0em;
  }

  .package-summary {
    margin-bottom: 20px;

    .publisher {
      margin: 0 0 10px 0;
    }
    .package-title, .package-title-published, .package-title-unlisted {
      a {
        text-decoration: underline;
        color: $black;
      }
    }
    .meta {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  li.current-page {
    a.page-link {
      color: $brand-warning;
      background: white;
    }
  }
}
