/* Section 1
====================================*/

.section {
  background: linear-gradient(90deg, #02bac1 50%, #ecd3ad 50%);
  padding: 30px 0;
  h1 {
    font-size: 3em;
    margin: 1em 0;
    line-height: 1.625;
  }
  h3 {
    text-align: left;
    margin: 0 0 15px 0;
  }
  p {
    text-align: left;
    margin-bottom: 30px;
  }
  .row {
    margin-bottom: 40px;
  }
  a {
    color: $black;
  }
  input {
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}
