/* Section 1
====================================*/

.section {
  background: white;
  padding: 30px 0;
  h1 {
    font-size: 3em;
    margin: 0.5em 0;
    line-height: 1.625;
  }
  h3 {
    text-align: left;
    margin: 0 0 15px 0;
  }
  p {
    text-align: left;
    margin-bottom: 30px;
  }
  .row {
    margin-bottom: 40px;
  }
  a {
    color: $black;
  }
  input {
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.package-title {
  text-decoration: underline;
}

.normal {
  margin-bottom: 10px !important;
}
