.view {
  height: 100%;
  padding: 0;
  .share-and-embed {
    display: none;
  }
  .tables:not(:empty) {
    height: calc(100% - 20px);
    div:not(.wtSpreader) {
      height: 100%;
      .datahub-meta {
        height: auto;
        position: fixed;
        bottom: 0;
        left: calc(50% - 55.85px);
        border-bottom: 0;
      }
      .handsontable {
        height: 100%;
        margin: 0;
        z-index: 1000;
      }
      ~ .handsontable {
        height: 100%;
      }
    }
  }
  .datahub-meta {
    font-size: 10px;
    display: block;
    text-align: center;
    border-bottom: 0.5px solid lighten($gray-light, 30%);
    z-index: 1001;
    .dataset-name {
      color: $black;
      font-weight: bold;
    }
  }
}
