{% macro r(dataset) -%}
<p>If you are using R here's how to get the data you want  quickly loaded:</p>
<pre class="hljs"><code>install.packages(<span class="hljs-string">"jsonlite"</span>)
<span class="hljs-keyword">library</span>(<span class="hljs-string">"jsonlite"</span>)

json_file &lt;- <span class="hljs-string">"http://datahub.io/{{dataset.datahub.owner}}/{{dataset.name}}/datapackage.json"</span>
json_data &lt;- fromJSON(paste(readLines(json_file), collapse=<span class="hljs-string">""</span>))

<span class="hljs-comment"># access csv file by the index starting from 1</span>
path_to_file = json_data$resources$path[<span class="hljs-number">1</span>][<span class="hljs-number">1</span>]
data &lt;- read.csv(url(path_to_file))
print(data)
</code></pre>
{%- endmacro %}

{% macro pandas(dataset) -%}
<p>In order to work with Data Packages in Pandas you need to install the Frictionless Data data package library and the pandas extension:</p>


<pre class="hljs"><code>pip install datapackage
pip install jsontableschema-pandas
</code></pre>
<p>To get the data run following code:</p>
<pre class="hljs"><code><span class="hljs-keyword">import</span> datapackage

data_url = <span class="hljs-string">"http://datahub.io/{{dataset.datahub.owner}}/{{dataset.name}}/datapackage.json"</span>

<span class="hljs-comment"># to load Data Package into storage</span>
storage = datapackage.push_datapackage(data_url, <span class="hljs-string">'pandas'</span>)

<span class="hljs-comment"># data frames available (corresponding to data files in original dataset)</span>
storage.buckets

<span class="hljs-comment"># you can access datasets inside storage, e.g. the first one:</span>
storage[storage.buckets[<span class="hljs-number">0</span>]]
</code></pre>

{%- endmacro %}

{% macro python(dataset) -%}
<p>For Python, first install the `datapackage` library (all the datasets on DataHub are Data Packages):</p>

<pre class="hljs"><code>pip install datapackage
</code></pre>

<p>To get Data Package into your Python environment, run following code:</p>

<pre class="hljs"><code><span class="hljs-keyword">from</span> datapackage <span class="hljs-keyword">import</span> Package

package = Package(<span class="hljs-string">'http://datahub.io/{{dataset.datahub.owner}}/{{dataset.name}}/datapackage.json'</span>)

<span class="hljs-comment"># get list of resources:</span>
resources = package.descriptor[<span class="hljs-string">'resources'</span>]
resourceList = [resources[x][<span class="hljs-string">'name'</span>] <span class="hljs-keyword">for</span> x <span class="hljs-keyword">in</span> range(<span class="hljs-number">0</span>, len(resources))]
print(resourceList)

data = package.resources[<span class="hljs-number">0</span>].read()
print(data)
</code></pre>
{%- endmacro %}

{% macro javascript(dataset) -%}
<p>If you are using JavaScript, please, follow instructions below:</p>
<p>Install <code>data.js</code> module using <code>npm</code>:</p>
<p>
  <pre class="hljs">
  <code>$ npm install data.js
</code></pre>
</p>
<p>Once the package is installed, use the following code snippet:</p>

<pre class="hljs"><code><span class="hljs-keyword">const</span> {Dataset} = <span class="hljs-built_in">require</span>(<span class="hljs-string">'data.js'</span>)

<span class="hljs-keyword">const</span> path = <span class="hljs-string">'http://datahub.io/{{dataset.datahub.owner}}/{{dataset.name}}/datapackage.json'</span>

<span class="hljs-comment">// We're using self-invoking function here as we want to use async-await syntax:</span>
(<span class="hljs-keyword">async</span> () =&gt; {
  <span class="hljs-keyword">const</span> dataset = <span class="hljs-keyword">await</span> Dataset.load(path)

  <span class="hljs-comment">// Get the first data file in this dataset</span>
  <span class="hljs-keyword">const</span> file = dataset.resources[<span class="hljs-number">0</span>]
  <span class="hljs-comment">// Get a raw stream</span>
  <span class="hljs-keyword">const</span> stream = <span class="hljs-keyword">await</span> file.stream()
  <span class="hljs-comment">// entire file as a buffer (be careful with large files!)</span>
  <span class="hljs-keyword">const</span> buffer = <span class="hljs-keyword">await</span> file.buffer
})()
</code></pre>
{%- endmacro %}

{% macro ruby(dataset) -%}
<p>Install the datapackage library created specially for Ruby language using <code>gem</code>:</p>
<pre class="hljs"><code>gem install datapackage
</code></pre>
<p>Now get the dataset and read the data:</p>
<pre class="hljs"><code><span class="hljs-keyword">require</span> <span class="hljs-string">'datapackage'</span>

path = <span class="hljs-string">'http://datahub.io/{{dataset.datahub.owner}}/{{dataset.name}}/datapackage.json'</span>

package = DataPackage::Package.new(path)
<span class="hljs-comment"># So package variable contains metadata. You can see it:</span>
puts package

<span class="hljs-comment"># Read data itself:</span>
resource = package.resources[<span class="hljs-number">0</span>]
data = resource.read
puts data
</code></pre>
{%- endmacro %}
