{% import '_instructions.html' as instructions %}

{% macro listify(list_) -%}
  {% for item in list_ or [] %}
    {% if item.path %}
    <a href="{{item.path}}" title="Uses data from '{{item.title or item.name}}'" target="_blank">
      {{item.title or item.name}}
    </a>
    {% else %}
    <span title="Uses data from '{{item.title or item.name}}'">{{item.title or item.name}}</span>
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% macro package_list_show(packages) -%}
  <div class="package-summary-list">
  {%- for package in packages  %}
    <div class="package-summary">
      <h3 class="package-title-{{package.datahub.findability}}">
        <a href="/{{ package.datahub.owner }}/{{ package.name }}">
          {{ package.title or package.name }}
        </a>
      </h3>

      <div class="meta">
        {% if package.datahub.findability === 'unlisted' %}
        <span class="label label-primary" title="This dataset is not published yet.">unlisted</span>
        {% elif package.datahub.findability === 'private' %}
        <span class="label label-primary" title="This dataset is not published yet.">private</span>
        {% endif %}
        <strong>{{ package.name }}</strong> | files {{ package.resources|length }} | {{ package.datahub.stats.prettyBytes }}
      </div>
      <div class="meta">
        {% if package.revisionId %}
          <strong>v{{ package.revisionId }}</strong> updated {{ package.datahub.modified }}
        {% else %}
          updated {{ package.datahub.modified }}
        {% endif %}
      </div>
      <div class="publisher">
        <!-- In the 'src' property of 'img' tag below, we need to use an avatar_url for the user. However,  -->
        <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar" />
        <a href="/{{ package.datahub.owner }}">{{ package.datahub.owner }}</a>
      </div>
      {% if package.readmeSnippet %}
      <p class="readme">
        {{ package.readmeSnippet }}
        <a href="/{{ package.datahub.owner }}/{{ package.name }}">
          explore more <span>&rsaquo;</span>
        </a>
      </p>
      {% elif package.readmeHtml %}
      <p class="readme">
        {{ package.readmeHtml|safe }}
        <a href="/{{ package.datahub.owner }}/{{ package.name }}">
          explore more <span>&rsaquo;</span>
        </a>
      </p>
      {% elif package.description %}
      <p class="readme">
        {% if package.description|length > 200 %}
          {{ package.description|truncate(200) }}
        {% else %}
          {{ package.description }}
        {% endif %}
        <a href="/{{ package.datahub.owner }}/{{ package.name }}">
          explore more <span>&rsaquo;</span>
        </a>
      </p>
      {% endif %}
    </div>
  {%- endfor %}
  </div>
{%- endmacro %}

{% macro uploading(statusApi, failUrl, successUrl, resources) -%}
  <p class="progressing-heading" id="message">
    Your data is safely stored and is getting processed - it will be here soon!
  </p>
  <p class="text-center" id="mainPipelines">
  </p>
  <p class="progressing-title row" id="inprogress">
  </p>
  <br>

  <script type="text/javascript">
    var resolvedStates = ['SUCCEEDED', 'FAILED']
    // The polling function
    function poll(fn, timeout, interval, resources_) {
      var endTime = Number(new Date()) + (timeout || 2000);
      interval = interval || 100;
      var checkCondition = function(resolve, reject) {
          // If the condition is met, we're done!
          fn().then(function(res) {
            res.json().then(function(out) {
              // If still in progress then show which pipeline is running:
              var inprogress = document.getElementById('inprogress');
              var flowID = out.id;
              var pipelines = Object.keys(out.pipelines);
              inprogress.innerHTML = '';
              var pipelinesPrefixes = [];

              resources_.forEach(function(resource) {
                var pipelinePrefix = flowID + '/' + resource.name;
                pipelinesPrefixes.push(pipelinePrefix);
                var resourcePipelines = [];
                pipelines.forEach(function(pipeline) {
                  if (pipeline.includes(pipelinePrefix)) {
                    resourcePipelines.push(pipeline);
                  }
                })
                if (resources_.length === 1) {
                  inprogress.innerHTML += `<div class="col-xs-4 col-xs-offset-4" id="${resource.name}-pipeline"><p class="pipeline-title">${resource.name}</p></div>`;
                } else if (resources_.length === 2) {
                  inprogress.innerHTML += `<div class="col-xs-4 col-xs-offset-1" id="${resource.name}-pipeline"><p class="pipeline-title">${resource.name}</p></div>`;
                } else {
                  inprogress.innerHTML += `<div class="col-xs-4" id="${resource.name}-pipeline"><p class="pipeline-title">${resource.name}</p></div>`;
                }

                var pipelinesDiv = document.getElementById(`${resource.name}-pipeline`);
                resourcePipelines.forEach(function(pipeline) {
                  if (out.pipelines[pipeline].status === 'INPROGRESS' || out.pipelines[pipeline].status === 'QUEUED') { // Running - have a spinner
                    pipelinesDiv.innerHTML += '<div class="progressing-item"><i class="fas fa-spinner fa-pulse fa-fw" aria-hidden="true" id="spinner"></i> ' + out.pipelines[pipeline].title + '</div>';
                  } else if (out.pipelines[pipeline].status === 'FAILED') { // Failed - have a cross
                    pipelinesDiv.innerHTML += '<div class="progressing-item"><i class="fas fa-times" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                  } else if (out.pipelines[pipeline].status === 'SUCCEEDED') { // Success - have a tick
                    pipelinesDiv.innerHTML += '<div class="progressing-item"><i class="fas fa-check" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                  } else { // Unknown state just leave at gray
                    pipelinesDiv.innerHTML += '<div class="progressing-item"><i class="fas fa-question" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                  }
                })
              })

              var otherPipelines = pipelines.filter(function(pipeline) {
                var doesntInclude = true;
                pipelinesPrefixes.forEach(function(prefix) {
                  if (pipeline.includes(prefix)) {
                    doesntInclude = false;
                  }
                })
                return doesntInclude;
              })
              var mainPipelines = document.getElementById('mainPipelines');
              mainPipelines.innerHTML = '';
              otherPipelines.forEach(function(pipeline) {
                if (out.pipelines[pipeline].status === 'INPROGRESS' || out.pipelines[pipeline].status === 'QUEUED') { // Running - have a spinner
                  mainPipelines.innerHTML += '<div class="main-item"><i class="fas fa-spinner fa-pulse fa-fw" aria-hidden="true" id="spinner"></i> ' + out.pipelines[pipeline].title + '</div>';
                } else if (out.pipelines[pipeline].status === 'FAILED') { // Failed - have a cross
                  mainPipelines.innerHTML += '<div class="main-item"><i class="fas fa-times" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                } else if (out.pipelines[pipeline].status === 'SUCCEEDED') { // Success - have a tick
                  mainPipelines.innerHTML += '<div class="main-item"><i class="fas fa-check" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                } else { // Unknown state just leave at gray
                  mainPipelines.innerHTML += '<div class="main-item"><i class="fas fa-question" aria-hidden="true"></i> ' + out.pipelines[pipeline].title + '</div>';
                }
              })

              // Check if resolved:
              if (resolvedStates.includes(out.state)) {
                resolve(out);
              }
              // If the condition isn't met but the timeout hasn't elapsed, go again
              else if (Number(new Date()) < endTime) {
                  setTimeout(checkCondition, interval, resolve, reject);
              }
              // Didn't match and too much time, reject!
              else {
                  reject(new Error('timed out for ' + fn + ': ' + arguments));
              }
            })
          })
      };

      return new Promise(checkCondition);
    }
    poll(function() {
      return window.fetch('{{ statusApi }}');
    }, 1200000, 2000, {{ resources | dump | safe }}).then(function(status) {
      var target = document.getElementById('message');
      if (status.state === 'FAILED') {
        target.innerHTML = 'Failed... Reloading the page...';
        setTimeout(function() {
          window.location = '{{ failUrl }}';
        }, 1000);
      } else if (status.state === 'SUCCEEDED') {
        target.innerHTML = 'Finished! Redirecting...';
        setTimeout(function() {
          window.location = '{{ successUrl }}';
        }, 1000);
      }
    }).catch(function() {
      // Polling timed out, tell the user to reload the page:
      var target = document.getElementById('message');
      target.innerHTML = 'Polling timed out. Please, reload the page...';
      document.getElementById('spinner').classList.remove('fa-pulse');
    });
  </script>
{%- endmacro %}
