{% import '_instructions.html' as instructions %}
{% macro dataset_summary(dataset) -%}
  <div class="dataset summary">
    <img src="https://assets.okfn.org/p/data/img/icon-128.png"
      alt="{{dataset.title}}" class="logo" />
    <h3><a href="/{{dataset.owner}}/{{dataset.id}}">{{dataset.title}}</a></h3>
    <div class="description">{{dataset.description}}</div>
    <div class="actions">
      <a href="/{{dataset.owner}}/{{dataset.id}}" class="btn btn-primary btn-small">View &raquo;</a>
      {% if dataset.download_url %}
      <a href="{{dataset.download_url}}" class="btn btn-success btn-small">Download CSV &raquo;</a>
      {% endif %}
    </div>
    <div class="source">Source: {{listify(dataset.sources)}}</div>
    <ul class="keywords">
      {% for kw in dataset.keywords or [] %}
      <li>{{kw}}</li>
      {% endfor %}
    </ul>
  </div>
{%- endmacro %}

{% macro listify(list_) -%}
  {% for item in list_ or [] %}
  <a href="{{item.web}}" title="Uses data from {{item.name}}" target="_blank">
    <i class="fa fa-external-link-square"></i>
    {{item.name}}
  </a>
  {% endfor %}
{%- endmacro %}

{% macro package_list_show(publisher, packages) -%}
  {%- for package in packages  %}
  <div class="row package-summary">
    <div class="col-xs-3">
      <img src="{{ s3_cdn }}/static/img/cube16.svg" class="img-responsive cube" />
    </div>
    <div class="col-xs-9">
      <a href="/{{ package.publisher_name }}/{{ package.name }}">
        <h3>{{ package.descriptor.title }}</h3>
      </a>
      <div class="row show-grid clearfix">
        <div class="col-sm-1 col-xs-2 icon">
          <img src="https://avatars3.githubusercontent.com/u/22451011?v=3&s=200" class="img-responsive img-circle" />
        </div>
        <div class="col-sm-5 col-xs-4 publisher">
            <small><a href="/{{ package.publisher_name }} " class="explore">by {{ package.publisher_name }}</a></small>
        </div>
      </div>
      <h6 class="text-left">
        <b>{{ package.name }}</b> | files {{ package.descriptor.resources|length }}
      </h6>
      {% if package.readme %}
      <p>
        {{ package.readme|truncate }}
        <a href="/{{ package.publisher_name }}/{{ package.name }}" class="explore">
          explore more <span>&rsaquo;</span>
        </a>
      </p>
      {% endif %}
    </div>
  </div>
  {%- endfor %}
{%- endmacro %}

{% macro search_package_list(packages) -%}
  {%- for package in packages %}
    <div class="row package-summary">
      <div class="col-xs-3">
        <img src="{{ s3_cdn }}/static/img/cube16.svg" class="img-responsive cube" />
      </div>
      <div class="col-xs-9">
        <a href="/{{ package.publisher_name }}/{{ package.name }}">
          <h3>{{ package.descriptor.title }}</h3>
        </a>
        <div class="row show-grid clearfix">
          <div class="col-sm-1 col-xs-2 icon">
            <img src="https://avatars3.githubusercontent.com/u/22451011?v=3&s=200" class="img-responsive img-circle" />
          </div>
          <div class="col-sm-5 col-xs-4 publisher">
              <small><a href="/{{ package.publisher_name }} " class="explore">by {{ package.publisher_name }}</a></small>
          </div>
        </div>
        <h6 class="text-left">
          <b>{{ package.name }}</b> | files {{ package.descriptor.resources|length }}
        </h6>
        {% if package.readme %}
        <p>
          {{ package.readme|truncate }}
          <a href="/{{ package.publisher_name }}/{{ package.name }}" class="explore">
            explore more <span>&rsaquo;</span>
          </a>
        </p>
        {% endif %}
      </div>
    </div>
  {%- endfor %}
{%- endmacro %}
