{% import '_instructions.html' as instructions %}

{% macro listify(list_) -%}
  {% for item in list_ or [] %}
  <a href="{{item.web}}" title="Uses data from {{item.title}}" target="_blank">
    <i class="fa fa-external-link-square"></i>
    {{item.title}}
  </a>
  {% endfor %}
{%- endmacro %}

{% macro package_list_show(packages) -%}
  {%- for package in packages  %}
  <div class="row package-summary">
    <div class="col-xs-12">
      <a href="/{{ package.datapackage.datahub.owner }}/{{ package.datapackage.name }}">
        <h3 class="package-title">{{ package.datapackage.title }}</h3>
      </a>
      <div class="row show-grid clearfix">
        <div class="col-sm-1 col-xs-2 icon">
          <img src="https://www.gravatar.com/avatar/{{package.datapackage.datahub.ownerid}}?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" class="img-responsive img-circle" />
        </div>
        <div class="col-sm-5 col-xs-4 package-publisher">
            <small><a href="/{{ package.datapackage.datahub.owner }} " class="explore">by {{ package.datapackage.datahub.owner }}</a></small>
        </div>
      </div>
      <h6 class="text-left">
        <b>{{ package.datapackage.name }}</b> | files {{ package.datapackage.resources|length }} | {{ package.datapackage.datahub.stats.prettyBytes }}
      </h6>
      {% if package.datapackage.readme %}
      <p>
        {{ package.datapackage.readme|truncate }}
        <a href="/{{ package.datapackage.datahub.owner }}/{{ package.datapackage.name }}" class="explore">
          explore more <span>&rsaquo;</span>
        </a>
      </p>
      {% endif %}
    </div>
  </div>
  {%- endfor %}
{%- endmacro %}
