{% extends "base.html" %}

{% block title%}{{title}} - Awesome Datasets{% endblock %}

{% block bodyclass %}textual awesome{% endblock %}

{% block content %}
<!-- awesome page test placeholder -->
<div class="container">
  <div class="inner_container">
    <div class="page-header">
	  
      <h1>
		{% if page %}
		<img src="/static/img/awesome-data/{{metaImage}}" />
		{% endif %} 
		
        {{title}}
        <br/>
        <small>{{description or 'DataHub Awesome Datasets'}}</small>
      </h1>
      <div class="breadcrumbs">
        <a href="/awesome">awesome</a> &raquo;
        {% if page %}
          <a href="/awesome/{{page}}">{{ page }}</a>
        {% else %}
          home
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{content | safe}}

        <p class="info">If you have suggestions, questions or feedback join our <a href="https://gitter.im/datahubio/chat" target="_blank">chat channel</a> or open an issue on our <a href="https://github.com/datahubio/qa" target="_blank">issue tracker</a>.</p>
      </div>

      {% if editable!=false %}
      <div class="col-md-2 pre-scrollable">
        <ul data-spy="affix">
          <a href="{{ editpath }}" class="btn btn-primary btn-md">
            Edit this page
            <br/>
            <small>(on github)</small>
          </a>
        </ul>
      </div>
      {% endif %}
      
    </div>
  </div>
</div>

{% if page %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "headline": "{{title}}",
  "image": ["{{metaImage}}"],
  "mainEntityOfPage": "https://datahub.io/awesome/{{page}}",
  "datePublished": "{{published}}",
  "dateModified": "{{modified}}",
  "author": {
    "@type": "Organization",
    "name": "DataHub"
  },
  "publisher": {
    "@type": "Organization",
    "name": "DataHub",
    "logo": {
      "@type": "ImageObject",
      "url": "https://datahub.io/static/img/logo-cube.png"
    }
  },
  "description": "{{description}}"
}
</script>
{% endif %}

{% endblock %}
