{% extends "base.html" %}

{% block title%}{{title}} - Awesome Datasets{% endblock %}

{% block bodyclass %}awesome-text awesome{% endblock %}

{% block content %}

<section class="awesome-dashboard-heading text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        	{% if metaImage %}
            <img src="/static/img/awesome-data/{{metaImage}}" width=70/>
          {% else %}
            <img src="/static/img/awesome-data/default.png" width=70/>
          {% endif %} 
        <h1 class="text-center">{{title or '404 Not Found'}}</h1>
        <div class="col-sm-8 col-sm-offset-2">
            <p class="text-center">{{description or 'Datahub Collections'}}<br/> 
              <div class="breadcrumbs">
                <a href="/collections">collections</a> &raquo;
                {% if page %}
                  <a href="/awesome/{{page}}">{{ page }}</a>
                {% else %}
                  home
                {% endif %}
              </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- awesome page placeholder -->
<div class="container pad-top-0 content">
  <div class="inner_container">
    
    <div class="row">
      <div class="col-md-8">
        {{content | safe}}
        
        <p class="info">Didn't find what you wanted? Make a quick <a href="/requests">request</a> and we will help you find it.</p>
      </div>

      <div class="col-sm-4 hidden-xs">
          <div class="side-box">
              <div class="col-sm-2"><img src="/static/img/message.png"/></div>
              <div class="col-sm-10">
                <h3>Premium Data Offer</h3>
                <p>Now you can request additional data and/or customized columns!</p>
                <a href="#premium-data" data-toggle="modal" data-target="#premium-data" class="premium-data-link" onclick="dataLayer.push({'premium-data-link': 'sticky-side-box'})">Request Quote</a>

                <a href="/pricing" class="link-black"><span>or</span> Find out More</a>
              </div>
          </div>
      </div>

      
    </div>
  </div>
</div>


<!-- Premium data offer -->
<div class="container">
    <div class="inner_container">
  
  
      <!-- Modal -->
      <div class="modal-new modal fade" id="premium-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title" id="myModalLabel"><img src="/static/img/text-msg.png" class="title-img"/> Premium data offer</h3>
            </div>
            <div class="modal-body">
              <iframe src="/premium-data" width="100%" height="550px" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
    $(window).scroll(function(){
     $(".side-box").css("top", Math.max(0, 455 - $(this).scrollTop()));
   });
</script>

{% endblock %}
