{% extends "base.html" %}

{% block title%}{{title}}{% endblock %}

{% block bodyclass %}awesome{% endblock %}

{% block content %}

<section class="awesome-dashboard-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">Collections</h1>
        <div class="col-sm-8 col-sm-offset-2">
            <p class="text-center">Collections - high quality data and datasets organized by topic.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!---------------------- Awesome Data cards ---------------------->


<section class="data-cards">
  <div class="container"> 

    <!--------- row 1 ------>

    <div class="row">
      <div class="col-sm-4">
        <div class="card-custom">
          <div class="col-xs-2 pad-left-0 pad-right-0">
            <img src="/static/img/awesome-data/bibliographic-data.png">
          </div>
          <div class="col-xs-10">
            <a href="/collections/bibliographic-data" class="title">Bibliographic data</a>
            <p>Existing databases or services providing substantial bibliographic data</p>
            <a href="/collections/bibliographic-data" class="view">View Collection</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card-custom">
          <div class="col-xs-2 pad-left-0 pad-right-0">
            <img src="/static/img/awesome-data/climate-change.png">
          </div>
          <div class="col-xs-10">
            <a href="/collections/climate-change" class="title">Climate Change</a>
            <p>A collection of the most important "general" datasets on climate change.</p>
            <a href="/collections/climate-change" class="view">View Collection</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card-custom">
          <div class="col-xs-2 pad-left-0 pad-right-0">
            <img src="/static/img/awesome-data/demographics.png">
          </div>
          <div class="col-xs-10">
            <a href="/collections/demographics" class="title">Demographics (population)</a>
            <p>Population data and data analytics.</p>
            <a href="/collections/demographics" class="view">View Collection</a>
          </div>
        </div>
      </div>
    </div>


    <!--------- row 2 ------>

    <div class="row">
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/economic-data.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/economic-data" class="title">Economic Data and Indicators</a>
              <p>A collection of economic indicators available on DataHub.</p>
              <a href="/collections/economic-data" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/education.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/education" class="title">Education</a>
              <p>US education data</p>
              <a href="/collections/education" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/football.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/football" class="title">Football</a>
              <p>A collection of awesome football datasets including national teams, clubs, match schedules etc.</p>
              <a href="/collections/football" class="view">View Collection</a>
            </div>
          </div>
        </div>
      </div>

    <!--------- row 3 ------>

    <div class="row">
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/geojson.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/geojson" class="title">GeoJSON</a>
              <p>GeoJSON datasets available on DataHub.</p>
              <a href="/collections/geojson" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/healthcare-data.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/healthcare-data" class="title">Health Care Data</a>
              <p>Ready-to-use datasets on DataHub about Health Care.</p>
              <a href="/collections/healthcare-data" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/inflation.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/inflation" class="title">Inflation</a>
              <p>Datasets re Inflation</p>
              <a href="/collections/inflation" class="view">View Collection</a>
            </div>
          </div>
        </div>
      </div>

    <!--------- row 4 ------>

    <div class="row">
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/linked-open-data.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/linked-open-data" class="title">Linked Open Data</a>
              <p>An overview of the Linked Open Data datasets.</p>
              <a href="/collections/linked-open-data" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/logistics-data.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/logistics-data" class="title">Logistics</a>
              <p>Ready-to-use logistics datasets - explore, download and use in your tool!</p>
              <a href="/collections/logistics-data" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/machine-learning-data.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/machine-learning-data" class="title">Machine Learning / Statistical</a>
              <p>Examples of machine learning datasets.</p>
              <a href="/collections/machine-learning-data" class="view">View Collection</a>
            </div>
          </div>
        </div>
      </div>

    
    <!--------- row 5 ------>

    <div class="row">
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/movies-and-tv.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/movies-and-tv" class="title">Movies and TV</a>
              <p>Various resources for Movies and TV data</p>
              <a href="/collections/movies-and-tv" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/opencorporates.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/opencorporates" class="title">Open Corporates</a>
              <p>Open Database of corporate entities.</p>
              <a href="/collections/opencorporates" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/property-prices.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/property-prices" class="title">Property Prices</a>
              <p>Property Prices Datasets available on DataHub.</p>
              <a href="/collections/property-prices" class="view">View Collection</a>
            </div>
          </div>
        </div>
      </div>


      <!--------- row 6 ------>

    <div class="row">
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/reference-data.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/reference-data" class="title">Reference Data</a>
              <p>Easy-to-use reference data in CSV and JSON formats.</p>
              <a href="/collections/reference-data" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/stock-market-data.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/stock-market-data" class="title">Stock Market Data</a>
              <p>Find and Explore ready-to-use Stock Market Datasets.</p>
              <a href="/collections/stock-market-data" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/war-and-peace.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/war-and-peace" class="title">War and Peace</a>
              <p>Data on inter-state conflicts, international relations and other correlates of war including fatalities.</p>
              <a href="/collections/war-and-peace" class="view">View Collection</a>
            </div>
          </div>
        </div>
      </div>


    <!--------- row 7 ------>

    <div class="row">
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/wealth-income-and-inequality.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/wealth-income-and-inequality" class="title">Wealth, Income and Inequality</a>
              <p>Data and analysis on Wealth, Income and Inequality</p>
              <a href="/collections/wealth-income-and-inequality" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/world-bank.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/world-bank" class="title">World Bank</a>
              <p>An overview of the World Bank data holdings.</p>
              <a href="/collections/world-bank" class="view">View Collection</a>
            </div>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/awesome-data/war-and-peace.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/yago" class="title">YAGO</a>
              <p>YAGO3 is a huge semantic knowledge base, derived from Wikipedia WordNet and GeoNames.</p>
              <a href="/collections/yago" class="view">View Collection</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<!---------------------- bottom section ---------------------->

<section class="bottom-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center content1">If you have suggestions, questions or feedback join our <a href="https://gitter.im/datahubio/chat" target="_blank">chat channel</a> or open an issue on our <a href="https://github.com/datahubio/qa" target="_blank">issue tracker</a>.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="data-offer text-center">
          <div class="col-sm-2 col-md-offset-2 pad-right-0 icon-img">
            <img src="/static/img/text-msg.png"/>
          </div>
          <div class="col-sm-8 pad-left-0">
              <h3>Request Customized Data</h3>
          </div>

          <p class="clearfix"></p>

          <div class="content">

            <p>Now you can request additional data and/or customized columns with guaranteed updates. You will also get Workflow integration (e.g. Python packages, NPM packages) and guaranteed updates.</p>

            <a class="btn btn-primary premium-data-link" href="#premium-data" data-toggle="modal" data-target="#premium-data" onclick="dataLayer.push({'premium-data-link': 'card-btm-lg'})">Try It Now!</a>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal-new modal fade" id="premium-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel"><img src="/static/img/text-msg.png" class="title-img"/> Premium data offer</h3>
      </div>
      <div class="modal-body">
        <iframe src="/premium-data" width="100%" height="550px" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
