<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title%}{{title}}{% endblock %}
    - DataHub - Frictionless Data
  </title>
  <meta name="author" content="Datopian">
  <meta name="keywords" content="{{keywords or 'data,open data,datasets,datahub,data hub,public data,data package,reference data,csv,json,excel'}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@datahubio" />
  <meta name="twitter:title" content="{{dataset.title or title}}" />
  <meta name="twitter:image" content="{{metaImage or 'https://datahub.io/static/img/logo-cube.png'}}" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{dataset.title or title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="DataHub" />
  <meta property="og:image" content="{{metaImage or 'https://datahub.io/static/img/logo-cube.png'}}" />
  <meta property="og:image:alt" content="DataHub" />
  <meta property="fb:app_id" content="188583668435715" />

  {% if metaDescription %}
  <meta name="description" content="{{metaDescription}}" />
  <meta name="twitter:description" content="{{metaDescription}}" />
  <meta property="og:description" content="{{metaDescription}}" />
  {% elif dataset and dataset.readmeSnippet %}
  <meta name="description" content="{{dataset.readmeSnippet}}" />
  <meta name="twitter:description" content="{{dataset.readmeSnippet}}" />
  <meta property="og:description" content="{{dataset.readmeSnippet}}" />
  {% else %}
  <meta name="description" content="{{description or 'Find, Share and Publish Quality Data Online. The fastest way for individuals, teams and organizations to publish, deploy and share their data.'}}">
  <meta name="twitter:description" content="{{description or 'Find, Share and Publish Quality Data Online. The fastest way for individuals, teams and organizations to publish, deploy and share their data.'}}" />
  <meta property="og:description" content="{{description or 'Find, Share and Publish Quality Data Online. The fastest way for individuals, teams and organizations to publish, deploy and share their data.'}}" />
  {% endif %}


  <link rel="icon" type="img/ico" href="/static/img/favicon.ico" sizes="16x16">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WCTXGJ8');</script>
  <!-- End Google Tag Manager -->
  <!-- Minimize page flickering -->
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',1000,
  {'GTM-WCTXGJ8':true});</script>
  <!-- End Minimize page flickering -->
  <link rel="stylesheet" media="screen" href="/static/stylesheets/app.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  {% if dataset %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
  {% endif %}
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/js/emojify.js"></script>
</head>
<body class="{% block bodyclass %}{{bodyclass}}{% endblock %}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCTXGJ8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <div class="banner" style="margin-bottom:0">
      <div><span style="font-weight:600"><i class="fas fa-bullhorn" aria-hidden="true"></i> We need your feedback, please fill in our <a href="https://goo.gl/forms/e33WTi9Tebph00z53" target="_blank">2 minute survey!</a></span> This is the rebooted DataHub &ndash; <a href="https://github.com/datahq/datahub-qa" style="color:black;text-decoration:underline;">please report issues here</a>.</div>
    </div>
    <!-- Page header -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="inner_container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="main-logo pull-left" href="/">
              <img class="img-responsive" src="/static/img/datahub-cube-edited.svg">
            </a>
          </div>
          <!--
          <div class="nav navbar-nav searchbox">
            <form class="form-inline" action="/search" method="GET">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Find data" name="q">
              </div>
            </form>
          </div>
          -->
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/docs/about">About</a>
              </li>
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li>
                <a href="/search">Find data</a>
              </li>
              <li>
                <a href="/awesome">Awesome</a>
              </li>
              <li>
                <a href="/requests">Requests</a>
              </li>
              <li>
                <a href="/docs">Docs</a>
              </li>
              <li>
                <a href="/pricing">Pricing</a>
              </li>
              <li>
                <a href="/download" class="download-link">Tools</a>
              </li>
              <li>
                <a href="https://gitter.im/datahubio/chat" class="chat">Chat</a>
              </li>
  						<!--
              <li>
                <a href="/">DISCOVER</a>
              </li>
  						-->
              {% if login %}
                <li>
                  <a class="nav-link nav-avatar" href="#" tabindex="0" data-toggle="popover" title=""
                    data-content="<p><a href='/dashboard' class='a-popover'>Dashboard</a></p><p><a href='/logout' class='a-popover'>Logout</a></p>">
                    <img src="" id="avatar" class="img-responsive img-circle nav-avatar" />
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="/login">Login</a>
                </li>
                <li>
                  <a href="/login" class="join-link">Join free</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div><!-- End of page header -->

    {% if message.length > 0 %}
    <div class="container">
      <div class="inner_container">
        <div class="alert alert-danger" role="alert">{{ message | safe }}</div>
      </div>
    </div>
    {% endif %}

    {% block content %}{{content}}{% endblock %}


    <!-- Footer Sections -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <img class="img-responsive" src="/static/img/datahub-cube-edited.svg" width=60>
                    <br/>
                    <p>At Datahub, we provide various solutions to Publish and Deploy your Data with power and simplicity. Datahub is the fastest way for individuals, teams and organizations to publish, deploy and share their data.</p>
                </div>

                <div class="col-sm-3 col-md-2 col-md-offset-1">
                    <label>Links</label>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/docs/terms-of-service">Terms of Service</a>
                          </li>
                        <li>
                            <a href="/docs/privacy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="http://docs.datahub.io/developers/api/">API</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>

                    </ul>
                </div>

                <div class="col-sm-2">
                    <label>Support</label>
                    <ul>
                        <li>
                            <a href="/requests">Request Data</a>
                        </li>
                        <li>
                            <a href="https://gitter.im/datahubio/chat">Chat</a>
                        </li>
                        <li>
                            <a href="/docs/faq">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-2 col-md-offset-1">
                    <label>Contact</label>
                    <ul>
                        <li>
                            <a href="mailto:support@datahub.io">support@datahub.io</a>
                        </li>
                        <!-- <li>
                            <a href="#">+44 xxx xxxx</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-bottom">
            <div class="container pad-top-0">
                <div class="row">
                    <div class="col-sm-8 text-left">
                        <p>&copy; 2018 All Rights Reserved </p>
                    </div>
                    <!-- <div class="col-sm-4 social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div> -->
                </div>
            </div>
	</div>
  <!-- end of footer -->



    {% block scripts %}{% endblock %}
    <script type="text/javascript" src="/static/js/smoothscroll.js"></script>
    <script>
      // Emojify text:
      emojify.setConfig({
        only_crawl_id    : null,            // Use to restrict where emojify.js applies
        img_dir          : '/static/img/emoji',  // Directory for emoji images
        ignored_tags     : {                // Ignore the following tags
            'SCRIPT'  : 1,
            'TEXTAREA': 1,
            'PRE'     : 1,
            'CODE'    : 1
        }
      });
      emojify.run();

      function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
      }

      // Set the userid for Google Tags Manager:
      dataLayer.push({'userId': getCookie('id')});

      function scrollDown(el) {
        document.querySelector(el.attributes.href.value).scrollIntoView({
          behavior: 'smooth'
        });
      }
      // Popover on avatar icon in navbar
      jQuery(document).ready(function(){
        jQuery('[data-toggle="popover"]').popover({
          'placement': 'bottom',
          'trigger': 'focus',
          'html': true
        });
      });
      // Set avatar in navbar using id in cookies
      var src = `https://www.gravatar.com/avatar/${getCookie('id')}?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png`;
      var avatar = document.getElementById('avatar');
      if (avatar) {
        avatar.src = src;
      }
    </script>



  </body>

</html>
