<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title%}{{title}}{% endblock %}
    - DataHub - Frictionless Data
  </title>
  <meta name="author" content="Datopian">
  <meta name="description" content="{{title}}. Data online made easy. Share and find data, quickly and easily. Simple, solid, slick. Frictionless and fast. Built for data scientists and wranglers. Managed by Datopian and Open Knowledge International">
  <meta name="keywords" content="data,datasets,data publishing,data sharing,data hosting,data package,reference data,indicators">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@datahubio" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:image" content="/static/img/logo-cube.png" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://datahub.io/" />
  <meta property="og:site_name" content="DataHub" />
  <meta property="og:image" content="/static/img/logo-cube.png" />

  {% if dataset and dataset.readmeSnippet %}
  <meta name="twitter:description" content="{{dataset.readmeSnippet}}" />
  <meta property="og:description" content="{{dataset.readmeSnippet}}" />
  {% else %}
  <meta name="twitter:description" content="❒ datahub is the fastest way for individuals and teams to find, share and publish high quality data online" />
  <meta property="og:description" content="❒ datahub is the fastest way for individuals and teams to find, share and publish high quality data online" />
  {% endif %}


  <link rel="icon" type="img/ico" href="/static/img/favicon.ico" sizes="16x16">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WCTXGJ8');</script>
  <!-- End Google Tag Manager -->
  <link rel="stylesheet" media="screen" href="/static/stylesheets/app.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="{% block bodyclass %}{{bodyclass}}{% endblock %}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCTXGJ8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <div class="banner" style="margin-bottom:0">
      <div><span style="font-weight:600"><i class="fa fa-bullhorn" aria-hidden="true"></i> We need your feedback, please fill in our <a href="https://goo.gl/forms/s1aKuCEhob3aTRWL2" target="_blank">2 minute survey!</a></span> This is the rebooted DataHub &ndash; <a href="https://github.com/datahq/datahub-qa" style="color:black;text-decoration:underline;">please report issues here</a>.</div>
    </div>
    <!-- Page header -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="inner_container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="main-logo pull-left" href="/">
              <img class="img-responsive" src="/static/img/datahub-cube-edited.svg">
            </a>
          </div>
          <!--
          <div class="nav navbar-nav searchbox">
            <form class="form-inline" action="/search" method="GET">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Find data" name="q">
              </div>
            </form>
          </div>
          -->
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/docs/about">About</a>
              </li>
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li>
                <a href="/search">Datasets</a>
              </li>
              <li>
                <a href="/awesome">Awesome</a>
              </li>
              <li>
                <a href="/requests">Requests</a>
              </li>
              <li>
                <a href="/docs">Docs</a>
              </li>
              <li>
                <a href="/pricing">Pricing</a>
              </li>
              <li>
                <a href="/download" class="download-link">Download</a>
              </li>
              <li>
                <a href="https://gitter.im/datahubio/chat" class="chat">Chat</a>
              </li>
  						<!--
              <li>
                <a href="/">DISCOVER</a>
              </li>
  						-->
              {% if login %}
                <li>
                  <a class="nav-link nav-avatar" href="#" tabindex="0" data-toggle="popover" title=""
                    data-content="<p><a href='/dashboard' class='a-popover'>Dashboard</a></p><p><a href='/logout' class='a-popover'>Logout</a></p>">
                    <img src="" id="avatar" class="img-responsive img-circle nav-avatar" />
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="/login">Login</a>
                </li>
                <li>
                  <a href="/login" class="join-link">Join free</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div><!-- End of page header -->

    {% if message.length > 0 %}
    <div class="container">
      <div class="inner_container">
        <div class="alert alert-danger" role="alert">{{ message | safe }}</div>
      </div>
    </div>
    {% endif %}

    {% block content %}{{content}}{% endblock %}

    <!-- footer -->
    <footer>
      <div class="container">
        <div class="inner_container">
          <div class="row">
            <div class="col-lg-1 logo">
              <a href="https://datahub.io/">
                <img src="/static/img/datahub-cube-edited.svg" height="48" alt="DataHub - A Frictionless Data project by Datopian and Open Knowledge International" />
              </a>
            </div>
            <div class="col-lg-2">
              <ul class="nav">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/docs/terms-of-service">Terms of Service</a>
                </li>
                <li>
                  <a href="/docs/privacy">Privacy Policy</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-7">
              <a href="https://datopian.com/" rel="external" target="_blank">
                <img src="/static/img/datopian-logo.png" height="32" alt="Datopian">
              </a>
              <a href="https://okfn.org/" rel="external" target="_blank">
                <img src="/static/img/oki.png" width="123" height="32" alt="Open Knowledge" style="-webkit-filter: grayscale(100%);filter: grayscale(100%);">
              </a>
              <a href="http://www.sloan.org/" rel="external" target="_blank">
                <img src="/static/img/sloan-foundation.png" width="147" height="32" alt="Sloan Foundation">
              </a>
            </div>
            <div class="col-lg-2">
              <ul class="nav pull-right">
                <li>
                  <a href="http://docs.datahub.io/developers/api/" target="_blank">API</a>
                </li>
                <li>
                  <a href="http://old.datahub.io/" target="_blank">Old DataHub</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End of footer -->

    {% block scripts %}{% endblock %}
    <script type="text/javascript" src="/static/js/smoothscroll.js"></script>
    <script>
      function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
      }

      // Set the userid for Google Tags Manager:
      dataLayer.push({'userId': getCookie('id')});

      function scrollDown(el) {
        document.querySelector(el.attributes.href.value).scrollIntoView({
          behavior: 'smooth'
        });
      }
      // Popover on avatar icon in navbar
      jQuery(document).ready(function(){
        jQuery('[data-toggle="popover"]').popover({
          'placement': 'bottom',
          'trigger': 'focus',
          'html': true
        });
      });
      // Set avatar in navbar using id in cookies
      var src = `https://www.gravatar.com/avatar/${getCookie('id')}?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png`;
      var avatar = document.getElementById('avatar');
      if (avatar) {
        avatar.src = src;
      }
    </script>
  </body>

</html>
