{% extends "base.html" %}

{% block title%}{{title}} - Blog{% endblock %}

{% block bodyclass %}blog{% endblock %}

{% block content %}
<!-- blog post page test placeholder -->
<div class="container">

  <div class="inner_container">
    {% for post in posts %}
    <div class="post">
      <a href="{{post.path}}">
        <h2>{{post.attributes.title}}</h2>
      </a>
      <p class="meta">
        <i class="fas fa-calendar" aria-hidden="true"></i> {{post.attributes.date}}
        {% for author in post.attributes.authors %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="https://www.gravatar.com/avatar/{{author.gravatar}}?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" class="img-responsive img-circle avatar" />
          <a href="/{{author.username}}">{{author.name}}</a>
        {% endfor %}
      </p>
      {{post.body | truncate(200) | safe}}
      <p><a href="{{post.path}}">Read more</a></p>
    </div>
	
    {% endfor %}
  </div>
  
</div>
<!-- Subscribe Form -->
<div class="subscribe-form text-center"  id="form-for-blog">
<div class="row">
<div class="col-sm-4 col-sm-offset-4">
<form action="https://datahub.us12.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="d7c1b37384908cd31dbe44d77">
    <input type="hidden" name="id" value="97878f666d">
    <div id="mergeTable" class="mergeTable">
        <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
            <h3>Subscribe and Download</h3>
            <div class="field-group form-group">
                <input type="email" class="form-control  custom-input" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Enter Your Email" required  >
				
				
            </div>
        </div>
    </div>

    <div class="submit_container clear">
        <input type="submit" class="formEmailButton btn btn-lg btn-primary" name="submit" value="Subscribe">
    </div>
    <input type="hidden" name="ht" value="7e3c30f92918a0476227f6e94f3fe76633002feb:MTUyNTg0Nzk0My44ODk=">
    <input type="hidden" name="mc_signupsource" value="hosted">
</form>
</div>
</div>
</div>
{% endblock %}
