{% extends "base.html" %}

{% block title%}{{title}}{% endblock %}

{% block bodyclass %}consulting{% endblock %}

{% block content %}
<!-- consulting page test placeholder -->
<div class="container">
  <div class="inner_container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Get in touch to hire us</h1>
        <form action="https://formspree.io/support@datahub.io" method="POST" name="consulting">
          <div class="form-group">
            <input type="email" class="form-control" name="email" required autofocus placeholder="Your e-mail address" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Your name" />
          </div>
          <textarea class="form-control" rows="3" name="message" placeholder="Message"></textarea>
          <input type="hidden" name="_next" value="https://datahub.io/thanks" />
          <input type="hidden" name="_subject" value="Consulting request" />
          <input type="submit" value="Send" class="btn btn-primary pull-right">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
