{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div class="container">
  <div class="inner_container">
    <h1 class="page-title">Your Dashboard</h1>
    <div class="row">
      <div class="col-xs-5">
        <p class="user">
          {% if currentUser.email != None %}
            <img src="https://www.gravatar.com/avatar/{{ currentUser.emailHash }}?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" class="img-responsive img-circle avatar-lg" />
            {{ currentUser.email }}
          {% else %}
            <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar" />
            {{ currentUser.name }}
          {% endif %}
        </p>
  	  </div>
      <div class="col-xs-7">
        <table class="table table-dashboard">
          <thead>
            <tr>
              <th>PLAN</th>
              <th>PACKAGES</th>
              <th>ON DISK</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="main-info">{{ currentUser.plan }}</td>
              <td class="main-info">{{ totalPackages }}</td>
              <td class="main-info">{{ totalSpace }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
