{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}

<div class="container">
  <section class="user-detail">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
         <div class="detail">
           
            <div class="col-sm-3 text-center">

                {% if currentUser.email != None %}
                <img src="https://www.gravatar.com/avatar/{{ currentUser.emailHash }}?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" />
                {% else %}
                  <img src="/static/img/logo-cube03.png" />
                {% endif %}
            </div>
                
            <div class="col-sm-9">
                <a href="/{{ currentUser.username }}" class="name">{{ currentUser.username }}</a>
                <p class="email">{{ currentUser.email }}</p>
                <div class="border-custom"></div>
                <h3><span>Plan:</span> {{ currentUser.plan }}</h3>
            </div>
            

            
         </div>
         
      </div>
      <div class="col-sm-8 col-xs-12">
        <div class="col-sm-4">
          <div class="detail2 text-center">
            <h1>{{ totalPackages }}</h1>
            <p>Datasets</p>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="detail2 text-center">
                <h1>{{ publicSpaceUsage }}</h1>
                <p>Public</p>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="detail2 text-center">
                <h1>{{ privateSpaceUsage }}</h1>
                <p>Private</p>
              </div>
        </div>
      </div>
    </div>
  </section>
  <div class="links text-right">
      <img src="/static/img/download.png"/><a href="/download" >Download Publisher Tools</a>   
      <br class="hide"> 
      <img src="/static/img/read.png"/><a href="/docs/getting-started/installing-data">Read Instructions</a>
  </div>

<section class="main-dashboard">
  <div class="row">
    <div class="col-sm-3 pad-left-zero  pad-right-zero">

      <div class="history">
        <div class="heading">
            <p>History</p>
            <hr>
            {% if events|length > 0 %}
              <div class="timeline">
              {% for item in events %}
                {% if item.event_entity === 'flow' %}
                <div class="event event-flow">
                  <a href="/{{ currentUser.username }}/{{ item.dataset }}" class="event-main">{{ item.dataset }}</a>
                  <p class="event-action">{{ item.event_action }} - {{ item.timeago }}</p>
                </div>
                {% elif item.event_entity === 'account' %}
                <div class="event event-account">
                    <p class="event-main">You</p> {{ item.event_action }}
                    <p class="event-action">finish - 22mins</p>
                </div>
                {% endif %}
              {% endfor %}
              </div>
            {% else %}
              <br/>
              <span class="info">No events.</span>
            {% endif %}

        </div>
      </div>

      <div class="latest-blogs hidden-sm hidden-xs">
          <div class="heading">
              <p>Latest Blogs</p>
              <hr>
          </div>
          <div class="content">
            <a href="#">Why Datasets are required?</a>
            <br/>
            <a href="#" class="author"> Henry Dolbyman </a>
            <p class="dated">July 18th, 2018</p>
          </div>

          <hr>

          <div class="content">
              <a href="#">Next Gen Data Source</a>
              <br/>
              <a href="#" class="author"> Henry Dolbyman </a>
              <p class="dated">July 18th, 2018</p>
          </div>

          <hr>


          <div class="content">
              <a href="#">Usage of Stats</a>
              <br/>
              <a href="#" class="author"> Henry Dolbyman </a>
              <p class="dated">July 18th, 2018</p>
          </div>

          <hr>


          <div class="content">
              <a href="#">Why Datasets are required?</a>
              <br/>
              <a href="#" class="author"> Henry Dolbyman </a>
              <p class="dated">July 18th, 2018</p>
          </div>
        </div>
     
    </div>


    <div class="col-sm-8 col-sm-offset-1 pad-left-zero  pad-right-zero">
      <div class="popular-dataset-section">
        <div class="heading">
          <div class="row">
              <div class="col-sm-8 pad-left-zero  pad-right-zero"><h2 class="text-left">Popular Datasets</h2></div>
              <div class="col-sm-4 pad-left-zero  pad-right-zero">
                  <!----------- searchbox -------------->
                  <div id="custom-search-input">
                      <div class="input-group col-md-12">
                          <input type="text" class="form-control input-lg" placeholder="Search" />
                          <span class="input-group-btn">
                              <button class="btn btn-info btn-lg" type="button">
                                  <i class="glyphicon glyphicon-search"></i>
                              </button>
                          </span>
                      </div>
                  </div>
                  <!------- search box ended------>
              </div>
          </div>
            
        </div>

        <div class="row">
          <div class="col-sm-6 pad-left-zero  pad-right-zero">
            <div class="square">
              <div class="content">
                 
                 <h3>Population Growth</h3>
                 <span>Updated 6 months ago</span>
                 <p>Total Population - Both Sexes. De facto population in a country, area or region as of 1 July of the year indicalation in ...</p>
                 <a href="#">View Dataset</a>
              </div>
          </div>
          </div>
          <div class="col-sm-6  pad-left-zero  pad-right-zero">
              <div class="square">
                <div class="content">
                   
                   <h3>Natural Gas</h3>
                   <span>Updated 6 months ago</span>
                   <p>Total Population - Both Sexes. De facto population in a country, area or region as of 1 July of the year indicalation in ...</p>
                   <a href="#">View Dataset</a>
                </div>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 pad-left-zero  pad-right-zero">
              <div class="square">
                <div class="content">
                   
                   <h3>City Population Annual 
                   Timeseries (UN Statistics..</h3>
                   <span>Updated 6 months ago</span>
                   <p>Total Population - Both Sexes. De facto population in a country, area or region as of 1 July of the year indicalation in ...</p>
                   <a href="#">View Dataset</a>
                </div>
            </div>
            </div>
            <div class="col-sm-6 pad-left-zero  pad-right-zero">
                <div class="square">
                  <div class="content">
                     
                     <h3>UK Gross Domestic Product (GDP)</h3>
                     <span>Updated 6 months ago</span>
                     <p>Total Population - Both Sexes. De facto population in a country, area or region as of 1 July of the year indicalation in ...</p>
                     <a href="#">View Dataset</a>
                  </div>
              </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-6 pad-left-zero  pad-right-zero">
                <div class="square">
                  <div class="content">
                     
                     <h3>European NUTS boundar
                        ies as GeoJSON at 1:60m </h3>
                     <span>Updated 6 months ago</span>
                     <p>Total Population - Both Sexes. De facto population in a country, area or region as of 1 July of the year indicalation in ...</p>
                     <a href="#">View Dataset</a>
                  </div>
              </div>
              </div>
              <div class="col-sm-6 pad-left-zero  pad-right-zero">
                  <div class="square">
                    <div class="content">
                       
                       <h3>Major cities of the world</h3>
                       <span>Updated 6 months ago</span>
                       <p>Total Population - Both Sexes. De facto population in a country, area or region as of 1 July of the year indicalation in ...</p>
                       <a href="#">View Dataset</a>
                    </div>
                </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</section>
 
</div>


{% endblock %}

{% block scripts %}
<script>
  dataLayer.push({'loginClient': '{{ client }}'});
</script>
{% endblock %}
