{% extends "base.html" %}

{% block title%}{{title}}{% endblock %}

{% block bodyclass %}dataos{% endblock %}

{% block content %}

<section class="data-os-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><img src="static/img/data-os-logo.jpg">DataOS</h1>
        <p>DataOS is an open framework and toolkit for creating data flows <br>
                to collect, inspect, process and publish data. You can fully automate your <br>
                data collection, processing and publication with the DataOS.</p>
      </div>
    </div>
  </div>
</section>


<!----------------------use-open-framework ---------------------->


<section class="use-open-framework">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="static/img/dataos/dataOS-1.jpg" class="img1 img-responsive center-block">
      </div>
      <div class="col-sm-6">
        <h2>Why use an open framework?</h2>
        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p> No proprietary tooling and no vendor lock-in</p>
                    </div>
                </div>
        </div>
        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p> Easily extensible for adding custom functionality </p>
                    </div>
                </div>
        </div>

        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p>All outputs and artifacts are standard-based and fully portable</p>
                    </div>
                </div>
        </div>

      </div>
    </div>
      
    </div>
  </div>
</section>

<!---------------------- DataOS Process ---------------------->


<section class="DataOS-Process">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Flow of the DataOS Process</h2>
          <p>We’re created an open ecosystem of tools and specifications for powerful and  frictionless data processing flows. </p>
        </div>
      </div>

      
          <div class="icon-groups">
                <div class="dots">
                </div>
                <div class="grouping">
                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/dataos/element1.png" class="img-responsive center-block"/>
                                        </div>   
                                </div>
                                <p class="text-center">Various Sources</p>
                        </div>
                        
                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/dataos/element2.png" class="img-responsive center-block"/>
                                        </div>   
                                </div>
                                <p class="text-center">Normalization<br>
                                        & Cleaning</p>
                        </div>

                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/dataos/element3.png" class="img-responsive center-block"/>
                                        </div>   
                                </div>
                                <p class="text-center">Transformation<br>
                                        & Modification</p>
                        </div>

                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/dataos/element4.png" class="img-responsive center-block"/>
                                        </div>   
                                </div>
                                <p class="text-center">Verification<br>
                                        & Validation</p>
                        </div>

                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/dataos/element5.png" class="img-responsive center-block"/>
                                        </div>   
                                </div>
                                <p class="text-center" >Various Outputs</p>
                        </div>
                </div>
                
          </div>
      

      <p class="clearfix"></p>

      <div class="row">
          <div class="col-sm-12">
              <div class="list">
                    <p><span>01</span>Loading data from various source and file types</p> 
              </div>
              <div class="list">
                    <p><span>02</span>Normalizing, cleaning and tidying the data, making it documented and portable</p> 
              </div>
              <div class="list">
                    <p><span>03</span>ransform the data - change the structure and/or the contents of the data, combine with 
                        other datasets etc.</p> 
              </div>
              <div class="list">
                    <p><span>04</span>Validate that the data is correct, valid and adheres to your own verification rules </p> 
              </div>

              <div class="list">
                    <p><span>05</span>Store the processed data in any file or data storage system</p> 
              </div>
          </div>
      </div>

      </div>
    </div>
  </section>


  <!---------------------- What-we-can-do ---------------------->

  <section class="what-we-can-do">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>What we can do for you</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">

           <div class="list">
             <div class="row">
                <div class="col-xs-1 pad-left-0-custom">
                    <img src="static/img/tick.png"/>
                 </div>
                 <div class="col-xs-10  pad-left-0">
                    <p>Assess and develop your data model and data
                        governance   and maturity strategy</p>
                 </div>
             </div>
           </div>

           <div class="list">
              <div class="row">
                 <div class="col-xs-1 pad-left-0-custom">
                     <img src="static/img/tick.png"/>
                  </div>
                  <div class="col-xs-10  pad-left-0">
                     <p>Analyse and design your data infrastructure or 
                        data-centric <br>project</p>
                  </div>
              </div>
            </div>
            
        </div>

        <div class="col-sm-6">
            
                       <div class="list">
                         <div class="row">
                            <div class="col-xs-1 pad-left-0-custom">
                                <img src="static/img/tick.png"/>
                             </div>
                             <div class="col-xs-10 pad-left-0">
                                <p>Build a data collection and processing system - we can<br> clean up your data swamp and make your data manageable <br>again</p>
                             </div>
                         </div>
                       </div>
            
                       <div class="list">
                          <div class="row">
                             <div class="col-xs-1 pad-left-0-custom">
                                 <img src="static/img/tick.png"/>
                              </div>
                              <div class="col-xs-10  pad-left-0">
                                 <p>Master data repository design and development</p>
                              </div>
                          </div>
                        </div>
                        
                    </div>
      </div>
    </div>
  </section>

<!-- consulting page test placeholder -->
<section class="getintouch">
    <div class="container">
        <div class="inner_container">
          <div class="row">
            <div class="col-md-5">
              <h2>Get in touch with us</h2>
              <form action="https://formspree.io/support@datahub.io" method="POST" name="consulting">
                <div class="form-group">
                  <label class="input-label-custom">Your email</label>
                  <input type="email" class="form-control input-form-custom" name="email" required autofocus  pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' />
                </div>
                <div class="form-group">
                  <label class="input-label-custom">Your name</label>
                  <input type="text" class="form-control input-form-custom" name="name" />
                </div>
                <label class="input-label-custom">Message</label>
                <textarea class="form-control input-form-custom" rows="3" name="message"></textarea>
                <input type="hidden" name="_next" value="https://datahub.io/thanks" />
                <input type="hidden" name="_subject" value="Consulting request" />
                <input type="submit" value="Send" class="btn btn-primary">
              </form>
            </div>
            <div class="col-md-7">
                <img src="static/img/hireus.jpg" class="img-responsive center-block"/>
            </div>
          </div>
        </div>
      </div>
</section>

{% endblock %}
