{% extends "base.html" %}

{% block title%}{{title}}{% endblock %}

{% block bodyclass %}datafactory{% endblock %}

{% block content %}

<section class="data-factory-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">Data Factory</h1>
        <div class="col-sm-8 col-sm-offset-2">
            <p class="text-center">Data Factory is an open framework and toolkit for creating data flows to collect, inspect, process and publish data. You can fully automate your data collection, processing, and publication with the Data Factory.</p>
        </div>

      </div>
    </div>
  </div>
</section>


<!----------------------use-open-framework ---------------------->


<section class="use-open-framework">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="static/img/data-factory/data-factory-2.jpg" class="img1 img-responsive center-block pull-up">
      </div>
      <div class="col-sm-6">
        <h2>Why use an open framework?</h2>
        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p> No proprietary tooling and no vendor lock-in</p>
                    </div>
                </div>
        </div>
        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p> Easily extensible for adding custom functionality </p>
                    </div>
                </div>
        </div>

        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p>All outputs and artifacts are standards-based and fully portable</p>
                    </div>
                </div>
        </div>

      </div>
    </div>

    </div>
  </div>
</section>

<!---------------------- Data Factory Process ---------------------->


<section class="datafactory-process">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>The Flow of the Data Factory Process</h2>
          <p>We have created an open ecosystem of tools and specifications for powerful and frictionless data processing flows. </p>
        </div>
      </div>


          <div class="icon-groups hidden-sm hidden-xs">
                <div class="dots hidden-xs hidden-sm">
                </div>
                <div class="grouping">
                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/data-factory/element1.png" class="img-responsive center-block"/>
                                        </div>
                                        <p class="text-center">Various Sources</p>
                                </div>

                        </div>

                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/data-factory/element2.png" class="img-responsive center-block"/>
                                        </div>
                                        <p class="text-center">Normalization<br> & Cleaning</p>
                                </div>

                        </div>

                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/data-factory/element3.png" class="img-responsive center-block"/>
                                        </div>
                                        <p class="text-center">Transformation<br> & Modification</p>
                                </div>
                        </div>

                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/data-factory/element4.png" class="img-responsive center-block"/>
                                        </div>
                                        <p class="text-center">Verification <br> & Validation</p>
                                </div>

                        </div>

                        <div class="element-external">
                                <div class="element margin-right-0">
                                        <div class="thumb">
                                            <img src="static/img/data-factory/element5.png" class="img-responsive center-block"/>
                                        </div>
                                        <p class="text-center" >Various Outputs</p>
                                </div>

                        </div>
                </div>

          </div>



      <p class="clearfix"></p>
      <div class="row">
          <div class="col-sm-12">
              <div class="list">
                    <p><span>01</span>Loading data from various sources and file types</p>
              </div>
              <div class="list">
                    <p><span>02</span>Normalizing, cleaning and tidying the data - making it documented and portable</p>
              </div>
              <div class="list">
                    <p><span>03</span>Transforming the data - changing the structure and/or the contents of the data, combining with
                        other datasets etc.</p>
              </div>
              <div class="list">
                    <p><span>04</span>Making sure that the data is correct, valid and adheres to your own verification rules </p>
              </div>

              <div class="list">
                    <p><span>05</span>Storing the processed data in any file or data storage system</p>
              </div>
          </div>
      </div>

      </div>
    </div>
  </section>

  <!---------------------- Why-Data Factory ---------------------->


<section class="why-datafactory">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="static/img/data-factory/data-factory-1.png" class="img1 img-responsive center-block">
      </div>
      <div class="col-sm-6">
          
        <div class="pad-left">
                <h2>Why Data Factory?</h2>
                <div class="list">
                    <div class="row">
                        <div class="col-xs-1 pad-left-0-custom">
                            <img src="static/img/tick.png"/>
                            </div>
                            <div class="col-xs-10  pad-left-0">
                            <p>A professionally selected collection of the best tools and practices</p>
                        </div>
                    </div>
                </div>
        
                <div class="list">
                        <div class="row">
                           <div class="col-xs-1 pad-left-0-custom">
                               <img src="static/img/tick.png"/>
                            </div>
                            <div class="col-xs-10  pad-left-0">
                               <p>An end-to-end solution</p>
                            </div>
                        </div>
                </div>
                <div class="list">
                        <div class="row">
                           <div class="col-xs-1 pad-left-0-custom">
                               <img src="static/img/tick.png"/>
                            </div>
                            <div class="col-xs-10  pad-left-0">
                               <p> All parts are fully integrated </p>
                            </div>
                        </div>
                </div>
        
                <div class="list">
                  <div class="row">
                     <div class="col-xs-1 pad-left-0-custom">
                         <img src="static/img/tick.png"/>
                      </div>
                      <div class="col-xs-10  pad-left-0">
                         <p>Backed by a team of professionals with years of <br>
                          experience in similar projects</p>
                      </div>
                  </div>
            </div>
        </div>

      </div>
    </div>

    </div>
  </div>
</section>


<!----------------------Data Factory contain ---------------------->


<section class="datafactory-contain">
  <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>What does Data Factory contain?</h2>
            <div class="list">
                    <div class="row">
                       <div class="col-xs-1 pad-left-0-custom">
                           <img src="static/img/plus.png"/>
                        </div>
                        <div class="col-xs-10  pad-left-0">
                          <p> <a href="/docs/data-packages"><strong>The Data Package Standard</strong></a> - a mature and field-tested container for any sort of data.</p>
                        </div>
                    </div>
            </div>
            <div class="list">
                    <div class="row">
                       <div class="col-xs-1 pad-left-0-custom">
                           <img src="static/img/plus.png"/>
                        </div>
                        <div class="col-xs-10  pad-left-0">
                           <p> <a href="https://frictionlessdata.io/software/"><strong>The Frictionless Data Toolkit</strong></a> - a rich library of
                              integrations and adapters to work with data packages nearly everywhere. </p>
                        </div>
                    </div>
            </div>

            <div class="list">
                    <div class="row">
                       <div class="col-xs-1 pad-left-0-custom">
                           <img src="static/img/plus.png"/>
                        </div>
                        <div class="col-xs-10  pad-left-0">
                           <p> <a href="https://github.com/datahq/dataflows"><strong>The DataFlows Framework</strong></a> - a powerful engine for creating and stream-processing data packages. </p>
                        </div>
                    </div>
            </div>

            <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/plus.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                      <p> <a href="https://goodtables.io/"><strong>GoodTables</strong></a> - a thorough validation tool to make sure your data is always in good shape and form. </p>
                    </div>
                </div>
        </div>

          </div>
      <div class="col-sm-6">
          <img src="static/img/data-factory/data-factory-3.png" class="img1 img-responsive center-block">
      </div>
    </div>

    </div>
  </div>
</section>


<!--------- cards ---------->

<section class="three-elements" id="products">
  <div class="container">
      <div class="row">
          <div class="col-sm-4 col-sm-offset-2">
              <div class="element">
                  <img src="static/img/data-factory/bottom1.png" class="img-responsive  center-block" />
                  <h4>Use Data Factory for your project</h4>
                  <a href="https://discord.gg/KrRzMKU">Join the chat to learn more <i class="fas fa-chevron-right"></i></a>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="element">
                <img src="static/img/data-factory/bottom2.png" class="img-responsive  center-block" />
                <h4>Get our <br/> Professional Support</h4>
                <a href="/hire-us">Contact Us <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>

      </div>
  </div>
</section>


{% endblock %}
