{% extends "base.html" %}

{% block title%}{{title}}{% endblock %}

{% block bodyclass %}dataos{% endblock %}

{% block content %}

<section class="data-os-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><img src="static/img/data-os-logo.jpg">DataOS</h1>
        <p>DataOS is an open framework and toolkit for creating data flows <br>
                to collect, inspect, process and publish data. You can fully automate your <br>
                data collection, processing and publication with the DataOS.</p>
      </div>
    </div>
  </div>
</section>


<!----------------------use-open-framework ---------------------->


<section class="use-open-framework">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="static/img/dataos/dataOS-1.jpg" class="img1 img-responsive center-block">
      </div>
      <div class="col-sm-6">
        <h2>Why use an open framework?</h2>
        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p> No proprietary tooling and no vendor lock-in</p>
                    </div>
                </div>
        </div>
        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p> Easily extensible for adding custom functionality </p>
                    </div>
                </div>
        </div>

        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p>All outputs and artifacts are standard-based and fully portable</p>
                    </div>
                </div>
        </div>

      </div>
    </div>
      
    </div>
  </div>
</section>

<!---------------------- DataOS Process ---------------------->


<section class="DataOS-Process">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Flow of the DataOS Process</h2>
          <p>We’re created an open ecosystem of tools and specifications for powerful and  frictionless data processing flows. </p>
        </div>
      </div>

      
          <div class="icon-groups hidden-xs">
                <div class="dots">
                </div>
                <div class="grouping hidden-xs">
                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/dataos/element1.png" class="img-responsive center-block"/>
                                        </div>   
                                </div>
                                <p class="text-center">Various Sources</p>
                        </div>
                        
                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/dataos/element2.png" class="img-responsive center-block"/>
                                        </div>   
                                </div>
                                <p class="text-center">Normalization<br>
                                        & Cleaning</p>
                        </div>

                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/dataos/element3.png" class="img-responsive center-block"/>
                                        </div>   
                                </div>
                                <p class="text-center">Transformation<br>
                                        & Modification</p>
                        </div>

                        <div class="element-external">
                                <div class="element">
                                        <div class="thumb">
                                            <img src="static/img/dataos/element4.png" class="img-responsive center-block"/>
                                        </div>   
                                </div>
                                <p class="text-center">Verification<br>
                                        & Validation</p>
                        </div>

                        <div class="element-external">
                                <div class="element margin-right-0">
                                        <div class="thumb">
                                            <img src="static/img/dataos/element5.png" class="img-responsive center-block"/>
                                        </div>   
                                </div>
                                <p class="text-center" >Various Outputs</p>
                        </div>
                </div>
             
          </div>
          
      

      <p class="clearfix"></p>
      <div class="row">
          <div class="col-sm-12">
              <div class="list">
                    <p><span>01</span>Loading data from various source and file types</p> 
              </div>
              <div class="list">
                    <p><span>02</span>Normalizing, cleaning and tidying the data, making it documented and portable</p> 
              </div>
              <div class="list">
                    <p><span>03</span>ransform the data - change the structure and/or the contents of the data, combine with 
                        other datasets etc.</p> 
              </div>
              <div class="list">
                    <p><span>04</span>Validate that the data is correct, valid and adheres to your own verification rules </p> 
              </div>

              <div class="list">
                    <p><span>05</span>Store the processed data in any file or data storage system</p> 
              </div>
          </div>
      </div>

      </div>
    </div>
  </section>

  <!---------------------- Why-dataos ---------------------->


<section class="why-dataos">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="static/img/dataos/dataOS-2.jpg" class="img1 img-responsive center-block">
      </div>
      <div class="col-sm-6">
        <h2>Why DataOS?</h2>
        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p> End-to-end solution</p>
                    </div>
                </div>
        </div>
        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p> All parts are fully integrated </p>
                    </div>
                </div>
        </div>

        <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/tick.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p>Professionally selected collection of best tools and practices</p>
                    </div>
                </div>
        </div>

        <div class="list">
          <div class="row">
             <div class="col-xs-1 pad-left-0-custom">
                 <img src="static/img/tick.png"/>
              </div>
              <div class="col-xs-10  pad-left-0">
                 <p>Backed by a team of professionals with years of <br>
                  experience in similar projects</p>
              </div>
          </div>
  </div>

      </div>
    </div>
      
    </div>
  </div>
</section>


<!----------------------DataOS contain ---------------------->


<section class="dataos-contain">
  <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>What does DataOS contain?</h2>
            <div class="list">
                    <div class="row">
                       <div class="col-xs-1 pad-left-0-custom">
                           <img src="static/img/plus.png"/>
                        </div>
                        <div class="col-xs-10  pad-left-0">
                           <p> The Data Package standard - a mature and field-tested container for any sort of data.<br><a>Learn More</a></p>
                        </div>
                    </div>
            </div>
            <div class="list">
                    <div class="row">
                       <div class="col-xs-1 pad-left-0-custom">
                           <img src="static/img/plus.png"/>
                        </div>
                        <div class="col-xs-10  pad-left-0">
                           <p> The Frictionless Data toolkit - a rich library of 
                              integrations and adapters to work with data packages nearly everywhere. <br><a>Learn More</a></p>
                        </div>
                    </div>
            </div>
    
            <div class="list">
                    <div class="row">
                       <div class="col-xs-1 pad-left-0-custom">
                           <img src="static/img/plus.png"/>
                        </div>
                        <div class="col-xs-10  pad-left-0">
                           <p>The Data Package Pipelines framework - a powerful engine for creating and stream-processing data packages.<br><a>Learn More</a> </p>
                        </div>
                    </div>
            </div>

            <div class="list">
                <div class="row">
                   <div class="col-xs-1 pad-left-0-custom">
                       <img src="static/img/plus.png"/>
                    </div>
                    <div class="col-xs-10  pad-left-0">
                       <p>GoodTables - a thorough validation tool to make sure your data is always in good shape and form.<br><a>Learn More</a> </p>
                    </div>
                </div>
        </div>
    
          </div>
      <div class="col-sm-6">
        <img src="static/img/dataos/dataOS-3.jpg" class="img1 img-responsive center-block">
      </div>
    </div>
      
    </div>
  </div>
</section>


<!--------- cards ---------->

<section class="three-elements" id="products">
  <div class="container">
      <div class="row">
          <div class="col-sm-4 col-sm-offset-1">
              <div class="element">
                  <img src="static/img/dataos/bottom1.png" class="img-responsive  center-block" />
                  <h4>Are You a <br>
                    Dev / Data Scientist?</h4>
                  <a href="#core-datasets">Learn More <i class="fas fa-chevron-right"></i></a>
              </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <div class="element">
                <img src="static/img/dataos/bottom2.png" class="img-responsive  center-block" />
                <h4>Need DataOS<br>
                  for your Project?</h4>
                <a href="#request-data">Learn More <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
          
      </div>
  </div>
</section>


{% endblock %}
