{% extends "base.html" %}

{% block title%}{{title}} - Docs{% endblock %}

{% block bodyclass %}docs{% endblock %}

{% block content %}

<!-- doc page -->
<div class="container">
  <div class="inner_container">
    <!-- Getting Started -->
    <div class="docs-section">
      <h1>Documentation</h1>
      <h2>
        Getting Started
      </h2>
      <p class="description">
        Learn how to use DataHub!
      </p>
      <div class="row">
        <a href="/docs/getting-started/installing-data" class="section-link">
          <div class="col-md-4">
            <h4>Installing ❒ data</h4>
            <p>This guide will cover how to install the <b>data</b> tool and verify that it is working properly.</p>
          </div>
        </a>
        <a href="/docs/getting-started/publishing-data" class="section-link">
          <div class="col-md-4">
            <h4>Publishing ❒ data</h4>
            <p>This guide walks you through how to put data online using <b>data</b> and the DataHub.</p>
          </div>
        </a>
        <a href="/docs/getting-started/push-excel" class="section-link">
          <div class="col-md-4">
            <h4>Push Excel files</h4>
            <p>In this tutorial, we will explain how to push Excel data to the DataHub.</p>
          </div>
        </a>
        <a href="/docs/getting-started/getting-data" class="section-link">
          <div class="col-md-4">
            <h4>Getting data tutorial</h4>
            <p>This guide covers how to get data from the DataHub.</p>
          </div>
        </a>
        <a href="/docs/getting-started/how-to-use-info-cat-and-get-commands-of-data-tool" class="section-link">
          <div class="col-md-4">
            <h4>How to use info, cat and get commands</h4>
            <p>Learn how to use <b>data</b> tool to extract a dataset summary, preview data and download it.</p>
          </div>
        </a>
        <a href="/docs/getting-started/datapackage-find-prepare-share-guide" class="section-link">
          <div class="col-md-4">
            <h4>Prepare and share data packages</h4>
            <p>The guide for finding, packaging and sharing data</p>
          </div>
        </a>
      </div>
    </div>
    <!-- end of Getting Started -->
    <!-- Examples -->
    <!-- end of Examples -->
    <!-- Tutorials -->
    <div class="docs-section">
      <h2>
        Tutorials
      </h2>
      <p class="description">
        Learn DataHub features by tutorials!
      </p>
      <div class="row">
        <a href="https://datahub.io/examples/simple-graph-spec" class="section-link">
          <div class="col-md-4">
            <h4>CBOE Volatility Index</h4>
            <p>It demonstrates how to build the simple and nice graphs using the <b>Simple Graph Spec</b>. </p>
          </div>
        </a>
        <a href="https://datahub.io/examples/vega-views-tutorial-lines" class="section-link">
          <div class="col-md-4">
            <h4>US presidents</h4>
            <p>It demonstrates how to build visualizations using the <b>Vega Graph Spec</b>.</p>
          </div>
        </a>
        <a href="https://datahub.io/examples/vega-views-tutorial-topojson" class="section-link">
          <div class="col-md-4">
            <h4>US Airports</h4>
            <p>It demonstrates how to build visualizations using the <b>Vega Graph Spec</b>.</p>
          </div>
        </a>
        <a href="https://datahub.io/examples/vega-views-tutorial-grouping" class="section-link">
          <div class="col-md-4">
            <h4>Yields of Barley</h4>
            <p>It demonstrates how to build visualizations using the <b>Vega Graph Spec</b>.</p>
          </div>
        </a>
        <a href="https://datahub.io/examples/transform-example-gdp-uk" class="section-link">
          <div class="col-md-4">
            <h4>Aggregation on UK Gross Domestic Product (GDP)</h4>
            <p>In this example, we explain how to aggregate a resource.</p>
          </div>
        </a>
        <a href="https://datahub.io/examples/example-sample-transform-on-currency-codes" class="section-link">
          <div class="col-md-4">
            <h4>Transform on ISO 4217 Currency Codes</h4>
            <p>In this example, we explain how to get a sample from a resource.</p>
          </div>
        </a>
        <a href="https://datahub.io/examples/transform-examples-on-co2-fossil-global" class="section-link">
          <div class="col-md-4">
            <h4>Data Transform on Global CO2 Emissions from Fossil Fuels since 1751</h4>
            <p>In this example, we explain how filtering and applying formula can be done before dataset gets rendered in showcase page.</p>
          </div>
        </a>
        <a href="/docs/automation" class="section-link">
          <div class="col-md-4">
            <h4>Automation guide</h4>
            <h4><span class="label label-warning">experimental</span></h4>
            <p>Automate your dataset so it will be updated and processed automatically without your interaction.</p>
          </div>
        </a>
        <a href="/docs/tutorials/js-sdk-tutorial" class="section-link">
          <div class="col-md-4">
            <h4>Javascript SDK</h4>
            <p>Create the data driven project that uses the DataHub to get and store datasets.</p>
          </div>
        </a>
        <p class="clearfix"></p>
        <a href="/docs/tutorials/auto-publish-your-datasets-using-travis-ci" class="section-link">
          <div class="col-md-4">
            <h4>Auto-publish your datasets using Travis-CI</h4>
            <p>In this tutorial, we provide instructions on how to automate publishing your dataset via Travis-CI.</p>
          </div>
        </a>
        <a href="/docs/tutorials/how-to-use-multiple-datahub-accounts" class="section-link">
          <div class="col-md-4">
            <h4>How to use multiple DataHub accounts</h4>
            <p>Learn how to manage multiple DataHub accounts.</p>
          </div>
        </a>
      </div>
    </div>
    <!-- end of Tutorials -->
    <!-- Features -->
    <div class="docs-section">
      <h2>
        Features
      </h2>
      <p class="description">
        Discover DataHub features!
      </p>
      <div class="row">
        <a href="/docs/features/data-cli" class="section-link">
          <div class="col-md-4">
            <h4>Data's Command Line Interface</h4>
            <p>Learn how to use our Command Line Tool.</p>
          </div>
        </a>
        <a href="/docs/features/views" class="section-link">
          <div class="col-md-4">
            <h4>Views</h4>
            <p>Find out what are DataHub views and what you can do with it.</p>
          </div>
        </a>
        <a href="/docs/features/preview-tables-for-your-data" class="section-link">
          <div class="col-md-4">
            <h4>Preview tables for your data</h4>
            <p>Explore what are preview tables and how you can find them.</p>
          </div>
        </a>
        <a href="/docs/features/auto-generated-csv-json-and-zip" class="section-link">
          <div class="col-md-4">
            <h4>Auto generated csv, json and zip</h4>
            <p>Here we describe what is auto generated for you: ZIP, CSV and JSON versions.</p>
          </div>
        </a>
        <a href="/docs/features/api" class="section-link">
          <div class="col-md-4">
            <h4>Web API</h4>
            <p>Use our API to get/post the data with you application.</p>
          </div>
        </a>
        <a href="/docs/features/teams-and-permissions" class="section-link">
          <div class="col-md-4">
            <h4>Teams and permissions</h4>
            <p>Publish your datasets under an organization account.</p>
          </div>
        </a>
      </div>
    </div>
    <!-- end of Features -->
    <!-- Core Data -->
    <div class="docs-section">
      <h2>
        Core Data
      </h2>
      <p class="description">
        Important, commonly-used data as high quality, easy-to-use and open data packages
      </p>
      <div class="row">
        <a href="/docs/core-data" class="section-link">
          <div class="col-md-4">
            <h4>Core Data Overview</h4>
            <p>Learn about the core data project including what data is available and how to get involved.</p>
          </div>
        </a>
        <a href="/docs/core-data/curators" class="section-link">
          <div class="col-md-4">
            <h4>Core Data Curators</h4>
            <p>Core Data Curators curate the core data. Find out more and how to get involved.</p>
          </div>
        </a>
        <a href="/docs/core-data/curators-guide" class="section-link">
          <div class="col-md-4">
            <h4>Curators Guide</h4>
            <p>A guide for Core Data Curators on curating core data.</p>
          </div>
        </a>
      </div>
    </div>
    <!-- end of Core Data -->
    <!-- Data Packages -->
    <div class="docs-section">
      <h2>
        Data Packages
      </h2>
      <p class="description">
        Learn about Data Packages!
      </p>
      <div class="row">
        <a href="/docs/data-packages" class="section-link">
          <div class="col-md-4">
            <h4>Data Packages</h4>
            <p>A Data Package (or DataPackage) is a simple way of "packaging" up data.</p>
          </div>
        </a>
        <a href="/docs/data-packages/tabular" class="section-link">
          <div class="col-md-4">
            <h4>Tabular Data Packages</h4>
            <p>Tabular Data Package is a simple structure for publishing and sharing tabular data.</p>
          </div>
        </a>
        <a href="/docs/data-packages/csv" class="section-link">
          <div class="col-md-4">
            <h4>CSV &ndash; Comma Separated Values</h4>
            <p>This page provides an overview CSV (Comma Separated Values) format for data.</p>
          </div>
        </a>
        <a href="/docs/data-packages/publish" class="section-link">
          <div class="col-md-4">
            <h4>Publish Data as Data Packages</h4>
            <p>You can publish <b>any kind of data</b> as a Data Package.</p>
          </div>
        </a>
        <a href="/docs/data-packages/publish-any" class="section-link">
          <div class="col-md-4">
            <h4>Publish Any Kind of Data</h4>
            <p>You can publish <b>all and any kind of data</b> as Data packages.</p>
          </div>
        </a>
        <a href="/docs/data-packages/publish-faq" class="section-link">
          <div class="col-md-4">
            <h4>Publishing Data Packages - Best practice patterns</h4>
            <p>This page summarizes the best practice patterns that should be followed when creating a data package.</p>
          </div>
        </a>
        <a href="/docs/data-packages/publish-geo" class="section-link">
          <div class="col-md-4">
            <h4>Publishing Geospatial Data as Data Packages</h4>
            <p>Publishing your Geodata as Data Packages is very easy.</p>
          </div>
        </a>
        <a href="/docs/data-packages/publish-online" class="section-link">
          <div class="col-md-4">
            <h4>Put it Online</h4>
            <p>This tutorial is about how to publish your Data Package online for others to find and use.</p>
          </div>
        </a>
        <a href="/docs/data-packages/publish-tabular" class="section-link">
          <div class="col-md-4">
            <h4>Publishing Tabular Data</h4>
            <p>Here's how to publish your tabular data as Tabular Data Packages.</p>
          </div>
        </a>
      </div>
    </div>
    <!-- end of Data Packages -->
    <!-- Misc pages -->
    <div class="docs-section">
      <h2>
        Misc
      </h2>
      <p class="description">
      </p>
      <div class="row">
        <a href="/docs/misc/markdown" class="section-link">
          <div class="col-md-4">
            <h4>Markdown Guide</h4>
            <p>Create rich documentation using Markdown markup language.</p>
          </div>
        </a>
        <a href="/docs/faq" class="section-link">
          <div class="col-md-4">
            <h4>F.A.Q.</h4>
            <p>Short answers to frequently asked questions.</p>
          </div>
        </a>
      </div>
    </div>
    <!-- end of Misc -->
  </div>
</div>

{% endblock %}
