{% extends "base.html" %}

{% block title%}{{title}} - Docs{% endblock %}

{% block bodyclass %}docs{% endblock %}

{% block content %}
<!-- doc page test placeholder -->
<div class="container">
  <div class="inner_container">
    <div class="page-header">
      <h1>
        {{title}}
      </h1>
      {% if date %}
      <p>
        <i class="fas fa-calendar" aria-hidden="true"></i> {{date}}
      </p>
      {% endif %}
    </div>
    <div class="row" id="page">
      <div class="col-md-8 col-md-offset-2" id="content">
        {{content | safe}}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  document.getElementById('content').insertAdjacentHTML(
    'beforeend',
    `<p class="info">If you have questions, comments or feedback join our <a href="https://gitter.im/datahubio/chat" target="_blank">chat channel</a> or open an issue on our <a href="https://github.com/datahubio/qa" target="_blank">tracker</a>.</p>`
  )
  document.getElementById('page').insertAdjacentHTML(
    'beforeend',
    `<div class="col-md-2 pre-scrollable">
      <ul data-spy="affix">
        <a href="{{ editpath }}" class="btn btn-primary btn-md">
          Edit this page
          <br/>
          <small>(on github)</small>
        </a>
      </ul>
    </div>`
  )
</script>
{% endblock %}
