{% extends "base.html" %}

{% block title%}
{{title}}
{% endblock %}

{% block bodyclass %}download{% endblock %}

{% block content %}
<!-- download page test placeholder -->
<div class="container">
  <div class="inner_container">
    <div class="wrapper">
      <h1>Command Line Tool</h1>
      <p>
        You can get our packaged binaries of <b>data</b> tool for advanced users (64 bit).
        <br />
        You don't need to have Node.js to use it!
        <br />
        Follow <a href="/docs/getting-started/installing-data" class="normal-link">these instructions</a> to start using the tool.
      </p>
      <a href="{{binReleaseMacos}}" class="btn btn-lg btn-primary" onclick="dataLayer.push({'download': 'bin-macos'})">
        <i class="fa fa-apple" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;macos
      </a>
      <a href="{{binReleaseLinux}}" class="btn btn-lg btn-primary" onclick="dataLayer.push({'download': 'bin-linux'})">
        <i class="fa fa-linux" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;linux
      </a>
      <a href="{{binReleaseWindows}}" class="btn btn-lg btn-primary" onclick="dataLayer.push({'download': 'bin-windows'})">
        <i class="fa fa-windows" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;windows
      </a>
      <p class="message">
        You also can install it via NPM:
      </p>
      <p class="command">
        npm install -g data-cli
      </p>

      <div class="img-wrapper">
        <img src="/static/img/push.gif" class="img-responsive" />
        <p class="info">
          Find out more about publishing data <a href="/docs/getting-started/publishing-data" class="normal-link">here</a>.
        </p>
      </div>

      <h1>Our publishing app</h1>
      <p>
        Our <u>data</u> app is the recommended way to put data on the DataHub and use its services.
        <br />
        You can preview showcase for your data, validate it and publish to DataHub.
      </p>
      <a href="{{desktopAppUrl}}" class="btn btn-lg btn-primary" onclick="dataLayer.push({'download': 'data-desktop-app'})">
        <i class="fa fa-apple" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Download
      </a>
      <p class="info">MacOS only, other OS are coming.</p>
      <div class="row steps">
        <div class="col-sm-4">
          <h3 class="step-heading">Drag and drop your data</h3>
          <p class="step-body">
            Just drop a file into the tray menu.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 class="step-heading">Get a showcase</h3>
          <p class="step-body">
            Preview a showcase for your file, validate everything is looking good.
          </p>
        </div>
        <div class="col-sm-4">
          <h3 class="step-heading">Publish</h3>
          <p class="step-body">
            Finally, just hit the "publish" button!
          </p>
        </div>
      </div>

      <div class="img-wrapper">
        <img src="/static/img/docs/drag-n-drop.gif" class="img-responsive" />
        <p class="info">
          Find out more about <u>data</u> app <a href="/blog/data-desktop-app-alpha-release" class="normal-link">here</a>.
          <br />
          Getting started is absolutely free! For full pricing information visit <a href="/pricing" class="normal-link">this page</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
