{% extends "base.html" %}

{% block title %}
Welcome Home
{% endblock %}

{% block content %}
<!-- Jumbotron main -->
<div class="container">
  <div class="jumbotron jumbotron-primary">
    <div class="text-center">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
          <img src="/static/img/logo-cube.png" class="img-responsive main-img" alt="">
        </div>
        <div class="col-xs-8 text-left">
          <h1 class="main-title">Data publishing and sharing,</h1>
          <h1 class="main-title">made simple, clean and fast.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="col-xs-11 col-xs-offset-1 text-left">
            <p class="terminal-heading"><b>Publish</b> from the command line</p>
          </div>
        </div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <img src="/static/img/terminal-black.png" class="img-responsive" />
        </div>
        <div class="col-sm-6">
          <img src="/static/img/terminal-white.png" class="img-responsive" />
        </div>
      </div>
      <div class="row">
        <p>Get Started now!</p>
      </div>
      <div class="row">
        <a href="https://github.com/datopian/datahub-cli/releases/latest" target="_blank" class="btn btn-lg btn-primary">
          Download
        </a>
      </div>
    </div>
  </div><!-- End of jumbotron main -->
  <!-- Section 1 -->
  <div class="inner_container">
    <div class="section">
      <div class="row">

        <div class="row">
          <h1>Some of our most popular data</h1>
        </div>

        {% for package in showcasePackages %}
          <div class="row">
            <a href="{{ package['owner']['username'] }}/{{ package['name'] }}" class="package-title">
              <h3>{{ package['title'] }}</h3>
            </a>
            <p class="publisher normal">
              {% if package.owner.email %}
              <img src="https://www.gravatar.com/avatar/{{ dataset.owner.email }}" class="img-responsive img-circle avatar" />
              {% else %}
              <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar" />
              {% endif %}
              <a href="{{ package['owner']['username'] }}">core</a>
            </p>
            <h6 class="text-left">
              <b>{{ package['name'] }}</b> | {{ package.resources|length }} files | {{ package.size }}
            </h6>
            {% if package.shortReadme %}
            <p class="readme">
              {{ package.shortReadme }}
              <a href="{{ package['owner']['username'] }}/{{ package['name'] }}" class="explore">
                explore more <span>&rsaquo;</span>
              </a>
            </p>
            {% endif %}
          </div>
        {% endfor %}

        <div class="row">
          <h1>Tutorials</h1>
        </div>

        {% for package in tutorialPackages %}
          <div class="row">
            <a href="{{ package['owner']['username'] }}/{{ package['name'] }}" class="package-title">
              <h3>{{ package['title'] }}</h3>
            </a>
            <p class="publisher normal">
              {% if package.owner.email %}
              <img src="https://www.gravatar.com/avatar/{{ dataset.owner.email }}" class="img-responsive img-circle avatar" />
              {% else %}
              <img src="/static/img/logo-cube03.png" class="img-responsive img-circle avatar" />
              {% endif %}
              <a href="{{ package['owner']['username'] }}">examples</a>
            </p>
            <h6 class="text-left">
              <b>{{ package['name'] }}</b> | {{ package.resources|length }} files | {{ package.size }}
            </h6>
            <p class="readme">
              {{ package.shortReadme }}
              <a href="{{ package['owner']['username'] }}/{{ package['name'] }}" class="explore">
                explore more <span>&rsaquo;</span>
              </a>
            </p>
          </div>
        {% endfor %}

      </div>
    </div>
  </div><!-- End of section 1 -->
</div>
{% endblock %}
