{% extends "base.html" %}

{% block title %}
Welcome Home
{% endblock %}

{% block content %}
<!-- Jumbotron main -->
<div class="container">
  {% if logout %}
  <div class="alert alert-danger" role="alert">You have been successfully logged out.</div>
  {% endif %}
  {% if error %}
  <div class="alert alert-danger" role="alert">Something went wrong. Please, try again later.</div>
  {% endif %}
  <div class="jumbotron jumbotron-primary">
    <div class="text-center">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
          <img src="/static/img/logo-cube.png" class="img-responsive main-img" alt="">
        </div>
        <div class="col-xs-8 text-left">
          <h1 class="main-title">Data online made simple</h1>
        </div>
      </div>
      <div class="row demo">
        <div class="col-sm-6">
					<div class="console">
						<div class="window">
							<div class="header">
								<span class="icon close-terminal"></span>
                <span class="icon minimize"></span>
                <span class="icon fullScreen"></span>
								<div class="title">
									bash
								</div>
							</div>
							<div class="body">
								<div class="console-inner">
									<pre>
<span class="prompt"><span class="square">■</span> ~/my-proj $</span> ls
datapackage.json   data.csv
<span class="prompt"><span class="square">■</span> ~/my-proj $</span> data push
  &gt; Uploading [====================] 100% 8.5s
  &gt; Push complete (9.61MB) [8509ms]
  &gt; Ready! https://datahub.io/your-username/my-proj
    (copied to clipboard)
<span class="prompt"><span class="square">■</span> ~/my-proj $</span> <span class="cursor"></span>
                  </pre>
								</div>
							</div>
						</div>
					</div>
        </div>
        <div class="col-sm-6">
					<div class="browser">
						<div class="window">
							<div class="header">
								<span class="icon close-terminal"></span>
                <span class="icon minimize"></span>
                <span class="icon fullScreen"></span>
								<div class="title title-bg">
									https://datahub.io/you/your-data
								</div>
							</div>
							<div class="body">
								<img src="/static/img/terminal-white.png" class="img-responsive" />
							</div>
						</div>
					</div>
        </div>
      </div>
      <div class="row">
        <p>Get Started now!</p>
      </div>
      <div class="row">
        <a href="https://github.com/datopian/datahub-cli/releases/latest" target="_blank" class="btn btn-lg btn-primary">
          Download
        </a>
      </div>
      <div class="row">
        <a href="#showcase" class="arrow" onclick="scrollDown(this)">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div><!-- End of jumbotron main -->

<!-- Section 1 -->
<div class="section-gray" id="showcase">
<div class="container">
  <div class="inner_container">
    <div class="section section-centered">
      <div class="row">

        <div class="row">
          <h2 class="section-title">Some of our most popular data</h2>
        </div>

        {% for package in showcasePackages %}
          <div class="row readable-width">
            <a href="core/{{ package['name'] }}" class="package-title">
              <h3>{{ package['title'] }}</h3>
            </a>
            <p class="publisher normal">
              <img src="https://www.gravatar.com/avatar/{{ package.datahub.ownerid }}?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" class="img-responsive img-circle avatar" />
              <a href="core">core</a>
            </p>
            <h6 class="text-left">
              <b>{{ package['name'] }}</b> | {{ package.resources|length }} files | {{ package.datahub.stats.prettyBytes }}
            </h6>
            {% if package.readmeSnippet %}
            <p class="readme">
              {{ package.readmeSnippet }}
              <a href="core/{{ package['name'] }}" class="explore">
                explore more <span>&rsaquo;</span>
              </a>
            </p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div><!-- End of section 1 -->

<!-- Section 2 -->
<div class="container">
  <div class="inner_container">
    <div class="section section-centered">
      <div class="row">
        <div class="row">
          <h2 class="section-title">Tutorials</h2>
        </div>

        {% for package in tutorialPackages %}
          <div class="row readable-width">
            <a href="examples/{{ package['name'] }}" class="package-title">
              <h3>{{ package['title'] }}</h3>
            </a>
            <p class="publisher normal">
              <img src="https://www.gravatar.com/avatar/{{ package.datahub.ownerid }}?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" class="img-responsive img-circle avatar" />
              <a href="examples">examples</a>
            </p>
            <h6 class="text-left">
              <b>{{ package['name'] }}</b> | {{ package.resources|length }} files | {{ package.datahub.stats.prettyBytes }}
            </h6>
            <p class="readme">
              {{ package.readmeSnippet }}
              <a href="examples/{{ package['name'] }}" class="explore">
                explore more <span>&rsaquo;</span>
              </a>
            </p>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div><!-- End of section 2 -->
{% endblock %}
