{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content %}
<div class="vertical-center">
  <div class="container">
    <h1>Start Publishing &ndash; It's Free!</h1>
    <p>To sign up or login, please use your existing GitHub or Google accounts</p>
    {% if githubLoginUrl %}
    <a href="{{ githubLoginUrl }}" class="btn btn-default login">
      GitHub <span class="fab fa-github fa-lg">
    </a>
    {% endif %}
    
    {% if googleLoginUrl %}
    <a href="{{ googleLoginUrl }}" class="btn btn-default login">
      Google <span class="fab fa-google fa-lg"></span>
    </a>
    {% endif %}
    
    <p class="info">
      By joining, you agree to our <a href="/docs/terms-of-service">Term of Service</a>.
    </p>
  </div>
</div>
{% endblock %}
