{% extends "base.html" %}

{% block title %}
Sign up | Login
{% endblock %}

{% block content %}
<div class="vertical-center">
  <div class="container">
    <h1>Start Publishing &ndash; It's Free!</h1>
    <p>To sign up or login, please use your existing GitHub or Google accounts</p>
    <a href="{{ githubLoginUrl }}" class="btn btn-default login">
      GitHub <span class="fa fa-github fa-lg">
    </a>
    <a href="{{ googleLoginUrl }}" class="btn btn-default login">
      Google <span class="fa fa-google fa-lg"></span>
    </a>
  </div>
</div>
{% endblock %}
