{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{owner}}
{% endblock %}

{% block bodyclass %}owner{% endblock %}

{% block content %}
<div class="container">
  <div class="inner_container">
    <div class="row">
      <div class="col-sm-3 profile">
        <div class="row">
          <div class="col-sm-12 col-xs-6">
            <img src="https://www.gravatar.com/avatar/{{ emailHash }}?s=300&d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" class="img-responsive">
          </div>
          <div class="col-sm-12 col-xs-6">
            {% if owner %}
              <h2 class="owner">{{ owner }}</h2>
            {% endif %}
            {% if name %}
              <p class="name">{{ name }}</p>
            {% endif %}
            {% if joinDate %}
              <p class="join-date">Since {{ joinDate }}</p>
            {% endif %}
          </div>
        </div>
        <hr />
        <!-- Events -->
        <h4>Recent events</h4>
        {% if events|length > 0 %}
          <div class="timeline">
          {% for item in events %}
            {% if item.event_entity === 'flow' %}
            <div class="event event-flow">
              <a href="/{{ owner }}/{{ item.dataset }}">{{ item.dataset }}</a>
              <p class="event-action">
                {{ item.event_action }} <span class="timeago">{{ item.timeago }}</span>
              </p>
            </div>
            {% elif item.event_entity === 'account' %}
            <div class="event event-account">
              <b>You</b> {{ item.event_action }}
              <span class="timeago">{{ item.timeago }}</span>
            </div>
            {% endif %}
          {% endfor %}
          </div>
        {% else %}
          <span class="info">No events.</span>
        {% endif %}
      </div>
      <div class="col-sm-offset-2 col-sm-7">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h2 class="owner-page-title">Datasets <span class="badge" title="{{packages.summary.total}} published datasets">{{packages.summary.total}}</span></h2>
          </div>
          <div class="col-sm-6">
            {% if packages.results|length > 0 %}
            <div class="input-group pull-right col-xs-12">
              <input id="publisher-package-input" type="text" class="form-control"
                     onkeyup="dpFilterFunction()" placeholder="Filter data packages by title" />
            </div>
            {% endif %}
          </div>
        </div>

        <div id="publisher-package-list">
          {% if packages.results|length > 0 %}
            {{ snippets.package_list_show(packages.results) }}
            {% if packages.summary.total > 20 %}
              <nav aria-label="Datasets">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="/{{ owner }}?from=0" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  {% for page in pages %}
                    {% if page == '...' %}
                    <li class="page-item disabled"><span class="page-link">{{page}}</span></li>
                    {% else %}
                    <li class="page-item {{ 'current-page' if currentPage == page }}"><a class="page-link" href="/{{ owner }}?from={{ (page - 1) * 20 }}">{{page}}</a></li>
                    {% endif %}

                  {% endfor %}
                  <li class="page-item">
                    <a class="page-link" href="/{{ owner }}?from={{ packages.summary.total - (packages.summary.total % 20) | int }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            {% endif %}
          {% else %}
            <p>This publisher has no data packages.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
function dpFilterFunction() {
  var packages = document.getElementById("publisher-package-list")
       .getElementsByClassName("package-summary");
  var input = document.getElementById('publisher-package-input');
  var filter = input.value.toLowerCase();
  for (var i=0; i < packages.length; i++){
    var pack = packages[i];
    var a = pack.getElementsByTagName("h3")[0].innerText.toLowerCase();
    if (a.indexOf(filter) > -1){
      pack.style.display = "";
    } else {
      pack.style.display = "none";
    }
  }
}
</script>
{% endblock %}
