{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
{{owner}}
{% endblock %}

{% block content %}
<div class="container">
  <div class="inner_container">
    <div class="row">
      <div class="col-sm-3 profile">
        <div class="row">
          <div class="col-sm-12 col-xs-6">
            <img src="https://www.gravatar.com/avatar/{{ emailHash }}?s=300&d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" class="img-responsive">
          </div>
          <div class="col-sm-12 col-xs-6">
            {% if owner %}
              <h2 class="owner">{{ owner }}</h2>
            {% endif %}
            {% if joinDate %}
              <p>Since: {{ joinDate }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-offset-2 col-sm-7">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h2>Datasets <span class="badge" title="{{packages.summary.total}} published datasets">{{packages.summary.total}}</span></h2>
          </div>
          <div class="col-sm-6">
            {% if packages.results|length > 0 %}
            <div class="input-group pull-right col-xs-12">
              <input id="publisher-package-input" type="text" class="form-control"
                     onkeyup="dpFilterFunction()" placeholder="Filter data packages by title" />
            </div>
            {% endif %}
          </div>
        </div>

        <div id="publisher-package-list">
          {% if packages.results|length > 0 %}
            {{ snippets.package_list_show(packages.results) }}
          {% else %}
            <p>This publisher has no data packages.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
function dpFilterFunction() {
  var packages = document.getElementById("publisher-package-list")
       .getElementsByClassName("package-summary");
  var input = document.getElementById('publisher-package-input');
  var filter = input.value.toLowerCase();
  for (var i=0; i < packages.length; i++){
    var pack = packages[i];
    var a = pack.getElementsByTagName("h3")[0].innerText.toLowerCase();
    if (a.indexOf(filter) > -1){
      pack.style.display = "";
    } else {
      pack.style.display = "none";
    }
  }
}
</script>
{% endblock %}
