{% extends "base.html" %}

{% block title%}{{title}} - Blog{% endblock %}

{% block bodyclass %}blog{% endblock %}

{% block content %}
<!-- blog post page test placeholder -->
<div class="page-header">
  <h1>
    {{title}}
  </h1>
  <p>
    <i class="fa fa-calendar" aria-hidden="true"></i> {{date}}
    {% if author %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="https://www.gravatar.com/avatar/{{author.gravatar}}?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" class="img-responsive img-circle avatar" />
      {{author.name}}
    {% endif %}
  </p>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {{content | safe}}
  </div>
</div>

{% endblock %}
