{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="container">
  <div class="inner_container">
    <h1 class="text-center">Membership Plans</h1>

    <table class="table pricing">
      <thead>
        <tr>
          <th></th>
          <th>Basic</th>
          <th>Premium</th>
          <th>On Demand</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left-heading">Datasets</td>
          <td>&infin;</td>
          <td>&infin;</td>
          <td>&infin;</td>
        </tr>
        <tr>
          <td class="left-heading">Storage</td>
          <td>5GB <span class="secondary">*</span></td>
          <td>50GB <span class="secondary">*</span></td>
          <td>Pay as you go</td>
        </tr>
        <tr>
          <td class="left-heading">Private Data</td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td class="left-heading">Teams</td>
          <td><span class="secondary">Coming soon</span></td>
          <td><span class="secondary">Coming soon</span></td>
          <td><span class="secondary">Coming soon</span></td>
        </tr>
        <tr>
          <td class="left-heading">Help DataHub<br/>thrive &amp; grow ☺</td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></td>
        </tr>
        <tr class="pricing">
          <td></td>
          <td>FREE</td>
          <td>$5 <span class="secondary">/ mo</span></td>
          <td><a href="mailto:support@datahub.io?subject=Enquiring re DataHub On Demand Pricing">Contact us</a></td>
        </tr>
        <tr class="signup pricing">
          <td></td>
          <td><a href="/login" class="btn btn-warning">Sign in</a></td>
          <td><a href="mailto:support@datahub.io?subject=Becoming a Premium Member of the DataHub" class="btn btn-warning">Sign up</td>
          <td><a href="mailto:support@datahub.io?subject=Interested in DataHub On Demand Pricing">Contact us</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td colspan="3">* These are soft limits. When they are exceeded we will notify you and give you time to upgrade your plan. Service is not interrupted and no extra costs are incurred.</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}
