{% extends "base.html" %}

{% block title %}
Data Requests
{% endblock %}

{% block bodyclass %}requests{% endblock %}

{% block content %}
<div class="container">
  <div class="inner_container">
    <h1 class="text-center">
      Data Requests
      <br />
      <small>Engage the Data Concierge</small>
    </h1>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <p>Can't find the data you are looking for? Or can't get it in the form you want?</p>

        <p>We can help.</p>

        <p>We offer a service to <strong>locate</strong> and/or <strong>prepare</strong> data for you.</p>

        <p>There is no cost for making a request and all requests are <strong>completely confidential</strong>.</p>

        <h2>How it works</h2>
        <ol>
          <li><strong>You make a request</strong>: telling us what you want</li>
          <li><strong>We search for you</strong>: We perform an initial search and evaluation for free</li>
          <li><strong>You get a quote</strong>: we give you a quote to get you the data you want<br />
            (OR: if we did not find anything we let you know that and there's no fee)</li>
          <li><strong>You choose</strong>: what you would like to do</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <h2>Get Started &mdash; Make a Request</h2>

        <form action="https://formspree.io/support@datahub.io" method="POST" name="requests">
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" name="email" required autofocus
              placeholder="Your e-mail address" id="inputEmail"
              pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' />
          </div>
          <label for="whatINeed">I want ...</label>
          <textarea class="form-control" rows="3" name="what-i-need" required
            id="whatINeed" placeholder="What kind of data would you like? It's fine to only have a vague idea as we're expert data sleuths ..."></textarea>
          <label for="inOrderTo">In order to ...</label>
          <textarea class="form-control" rows="3" name="in-order-to" id="inOrderTo" placeholder="OPTIONAL. Let us know what you want to use the data for. This helps us do a better job because knowing why you want it makes it much easier to find and format the data to best suit your needs."></textarea>
          <input type="hidden" name="_next" value="https://datahub.io/thanks" />
          <input type="hidden" name="_subject" value="Consulting request" />
          <input type="submit" value="Send" class="btn btn-primary pull-right">
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}
