{% extends "base.html" %}
{% import '_snippets.html' as snippets %}

{% block title %}
Search
{% endblock %}

{% block content %}
<div class="container">
  <div class="inner_container">
    <div class="row">
      <div class="col-md-7 col-md-offset-2 col-sm-12">
        <h1 class="text-center">Discover Data</h1>
        <div id="custom-search-input">
          <form id="search-page-search-form" class="input-group col-xs-12" action="/search" method="GET">
            <input id="search-page-search" type="text" class="form-control input-lg" placeholder="Search ..." name="q" value="{{ query_term }}" required/>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-md-offset-2">
    {% if packages.summary.total %}

      <h4 class="search-summary text-center">{{ packages.summary.total }} package(s) found for <b>"{{ query }}"</b></h4>
      {{ snippets.package_list_show(packages.results) }}

    {% else %}

      <h4 class="search-summary">0 packages found for <b>"{{ query }}"</b></h4>

    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
