{% extends "base.html" %}
{% import '_snippets.html' as snippets %}
{% import '_instructions.html' as instructions %}

{% block title %}
{{dataset.title}} - Dataset
{% endblock %}

{% block bodyclass %}showcase{% endblock %}

{% block content %}
<!-- title and owner info -->
<div class="container">
  <div class="inner_container">
    {% if status === 'FAILED' %}
    <div class="alert alert-danger text-center" role="alert">
      We've failed to build your latest changes. Please, see <a href="/{{ owner }}/{{ dataset.name }}/pipelines">details here.</a>
    </div>
    {% elif status === 'SUCCEEDED' %}
    {% elif status %}
    <div class="alert alert-info" role="alert">
      {{ snippets.uploading(statusApi, failUrl, successUrl) }}
    </div>
    {% endif %}

    <div class="showcase-page-header">
      <h1>
        {{ dataset.title }}
        {% if dataset.datahub.findability === 'unlisted' %}
        <span class="label label-primary" title="This dataset is not published yet.">unlisted</span>
        {% endif %}
      </h1>
      <p class="publisher">
        <img src="https://www.gravatar.com/avatar/{{ dataset.datahub.ownerid }}?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" class="img-responsive img-circle avatar" />
        <a href="/{{ owner }}">{{ owner }}</a>
      </p>
    </div>
  </div>
</div><!-- end of title and owner info -->

<div class="container-no-top-padding">
  <div class="inner_container">
    <div class="dataset show">
      <!-- info about data package -->
      <div>
        <table class="table info no-left-padding">
          <thead>
            <tr>
              <th>Files</th>
              <th>Size</th>
              <th>Format</th>
              <th>Created</th>
              <th>Updated</th>
              <th>License</th>
              <th>Source</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-xs-1">{{ dataset.resources | length }}</td>
              <td class="col-xs-1">{{ dataset.datahub.stats.prettyBytes }}</td>
              <td class="col-xs-2 format-list">
                {% for format in dataset.formats %}
                  {{ format }}
                {% endfor %}
              </td>
              <td class="col-xs-2">{{ dataset.datahub.created }}</td>
              <td class="col-xs-2">{{ dataset.datahub.modified }}</td>
              <td class="col-xs-2">
                {% if dataset.licenses %}
                  {% for item in dataset.licenses %}
                  <i class="fa fa-gavel"></i>
                  {% if item.path %}
                    <a href="{{item.path}}" title="{{item.title}}">{{item.name}}</a>
                  {% else %}
                    {{item.name}}
                  {% endif %}
                  {% endfor %}
                {% elif dataset.license %}
                <i class="fa fa-gavel"></i> {{ dataset.license }}
                {% endif %}
              </td>
              <td class="col-xs-2">{{snippets.listify(dataset.sources)}}</td>
            </tr>
          </tbody>

        </table>

      </div>

      <!-- short readme -->
      <div class="readme-snippet readable-width">{{dataset.readmeSnippet}} <a href="#readme" onclick="scrollDown(this)">read more</a></div>

      <!-- download button -->
      <a href="#data" class="btn btn-lg btn-primary" onclick="scrollDown(this)">Download</a>

      <!-- views -->
      <div class="react-me part" data-type="data-views" id="next-section"></div>

      <!-- data files (downloads) table -->
      <h2 class="section-title" id="data">Data Files</h2>
      <div class="resource-listing part">
        <table class="table table-condensed table-striped resource-listing">
          <thead>
            <th class="col-xs-2">File</th>
            <th class="col-xs-2">Description</th>
            <th class="col-xs-1">Size</th>
            <th class="col-xs-2">Last changed</th>
            <th>Download</th>
            <th>Other formats</th>
          </thead>
          <tbody>
          {% for resource in dataset.downloads %}
            <tr>
              <td class="col-xs-2">
                <i class="fa fa-file-text-o"></i> <a href="#resource-{{resource.name}}" onclick="scrollDown(this)">{{resource.name}}</a> [{{resource.format}}]
              </td>
              <td class="col-xs-3">
                {{ resource.title or resource.description }}
              </td>
              <td class="col-xs-1">
                {{ resource.prettyBytes }}
              </td>
              <td class="col-xs-1">
                {{ resource.modified }}
              </td>
              <td class="download truncate col-xs-3">
                <a href="/{{ owner }}/{{ dataset.name }}/r/{{ resource.name }}.{{ resource.format }}" onclick="trackOutboundLink(this.href)">
                  {{ resource.name }} [{{ resource.format }}]
                </a>
              </td>
              <td class="download truncate col-xs-2">
                {% for alt in resource.otherFormats %}
                <a href="/{{ owner }}/{{ dataset.name }}/r/{{ resource.name }}.{{ alt.format }}" onclick="trackOutboundLink(this.href)">
                  {{ resource.name }} [{{alt.format}}] ({{alt.prettyBytes}})
                </a>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- preview + field information -->
      {% for resource in dataset.resources %}
      <div class="resource-info part">
        <h2 id="resource-{{resource.name}}" class="section-title">
          {{resource.name}}
          &nbsp;
          <a href="/{{ owner }}/{{ dataset.name }}/r/{{ resource.name }}.{{ resource.format }}" onclick="trackOutboundLink(this.href)">
            <i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="font-size:0.9em"></i>
          </a>
        </h2>
        <div id="resource-{{loop.index - 1}}" class="react-me tables"
             data-type="resource-preview" data-resource="{{ loop.index - 1 }}"></div>
        <p class="notice">
          This is a preview version. There might be more data in <a href="/{{ owner }}/{{ dataset.name }}/r/{{ resource.name }}.{{ resource.format }}" onclick="trackOutboundLink(this.href)">the original version.</a>
        </p>
        {% if resource.format == "csv" %}
         <h2 class="section-title">Field information</h2>
         <table class="table table-bordered table-striped resource-summary">
           <thead>
             <tr>
               <th>Field Name</th>
               <th>Order</th>
               <th>Type (Format)</th>
               <th>Description</th>
             </tr>
           </thead>
           <tbody>
             {% for field in resource.schema.fields %}
             <tr>
               <th>{{field.name}}</th>
               <td>{{loop.index}}</td>
               <td class="type type-{{field.type}}">{{field.type}} {% if field.format %}({{field.format}}) {% endif %}</td>
               <td>{{field.description}}</td>
             </tr>
             {% endfor %}
           </tbody>
         </table>
       {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- readme section -->
<div class="section-gray">
  <div class="container">
    <div class="inner_container">
      <div class="dataset show">
        <h2 id="readme" class="section-title">Read me</h2>
        <div class="readme part readable-width">{{dataset.readmeHtml|safe}}</div>
      </div>
    </div>
  </div>
</div><!-- end of readme section -->

<!-- import into your tool section -->
<div class="container">
  <div class="inner_container">
    <div class="dataset show">
      <h2 class="section-title">Import into your tool</h2>
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#r">R</a></li>
        <li><a data-toggle="pill" href="#pandas">Pandas</a></li>
        <li><a data-toggle="pill" href="#python">Python</a></li>
        <li><a data-toggle="pill" href="#javascript">JavaScript</a></li>
        <li><a data-toggle="pill" href="#ruby">Ruby</a></li>
      </ul>
      <!-- content for instructions -->
      <div class="tab-content">

        <div id="r" class="tab-pane fade in active">
          <div class="part">
            {{instructions.r(dataset)}}
          </div>
        </div>

        <div id="pandas" class="tab-pane fade">
          <div class="part">
            {{instructions.pandas(dataset)}}
          </div>
        </div>

        <div id="python" class="tab-pane fade">
          <div class="part">
            {{instructions.python(dataset)}}
          </div>
        </div>

        <div id="javascript" class="tab-pane fade">
          <div class="part">
            {{instructions.javascript(dataset)}}
          </div>
        </div>

        <div id="ruby" class="tab-pane fade">
          <div class="part">
            {{instructions.ruby(dataset)}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of import into your tool section -->

<!-- Link to datapackage.json - putting here to be hidden for now -->
<div class="container">
  <div class="inner_container">
    <a href="/{{ owner }}/{{ dataset.name }}/datapackage.json" class="btn btn-default" style="margin-top:-80px">Datapackage.json</a>
  </div>
</div><!-- end of link to datapackage.json -->
{% endblock %}

{% block scripts %}
<!-- script for tabs to work as anchors (used for instructions in showcase page) -->
<script>
  jQuery("ul.nav-pills > li > a").on("shown.bs.tab", function (e) {
     scrollposition = jQuery(document).scrollTop();
     var id = jQuery(e.target).attr("href").substr(1);
     window.location.hash = id;
     jQuery(document).scrollTop(scrollposition);
  });
  var hash = window.location.hash;
  jQuery('.nav.nav-pills a[href="' + hash + '"]').tab('show', function() {
      jQuery(document).scrollTop();
  });
</script>

<!-- pass DP_ID to front-end -->
<script type="text/javascript">
  var DP_ID = JSON.parse('{{ dpId | safe }}');
</script>

<link rel="stylesheet" media="screen" href="/static/dpr-js/dist/main.css">
<script type="text/javascript" src="/static/dpr-js/dist/bundle.js"></script>

{% endblock %}
