{% extends "base.html" %}

{% block title %}
{{title}} - Tools
{% endblock %}

{% block bodyclass %}validate{% endblock %}

{% block content %}
<div class="container">
  <div class="inner_container">
    <div class="row">
      <div class="col-md-9 col-md-offset-2">
        <h1>Data Package Validator</h1>
        <p>The online validator checks the data package descriptor (also known as <code>datapackage.json</code> file). If you want to validate offline data packages check out our <a href="/docs/features/data-cli">command line tool</a>.</p>

        <form action="/tools/validate" method="GET">
          <div class="form-group">
            <h2>Paste your Data Package link</h2>
            <input type="text" class="form-control" placeholder="Paste link to your datapackage.json" name="q" value="{{ query }}" required autofocus/>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Validate</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row output">
      <div class="col-md-8 col-md-offset-2">
        {% if loading_error %}
        <div class="alert alert-danger">
          <h4>Error while loading the data package, please check that you provided a correct URL to the datapackage.json file.</h4>
        </div>
        {% endif %}

        {% if dataset %}
        <hr />

        <div class="alert alert-success">
          <h2>
            Result: Data Package Descriptor is
            {% if dataset.valid %}
              <btn class="btn btn-lg btn-success">Valid</span>
            {% else %}
              <span class="btn btn-lg btn-danger">Invalid</span>
            {% endif %}
          </h2>
          {% if dataset.errors.length > 0 %}
            {{ dataset.errors }}
          {% endif %}
        </div>
        {% endif %}

        <!--
            Datapackage details has been deleted, as we don't validate the datapackage itself,
         but only the descriptor file.
            Instead we add a data-cli advertising.
        {% if dataset %}
          <h3>Datapackage:</h3>
          <h4>Name: <strong>{{ dataset.descriptor.name }}</strong></h4>
          {% if dataset.descriptor.title %}
              <h4>Title: <strong>{{ dataset.descriptor.title }}</strong></h4>
          {% endif %}
          <h4>Resources:</h4>
          <ul>
              {% for name in dataset.resourceNames %}
              <li>{{name}}</li>
              {% endfor %}
          </ul>
        {% endif %}
        -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
