<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{title}} - DataHub - Frictionless Data
    </title>
    <meta name="author" content="Datopian">
    <meta name="description" content="{{title}}. Data online made easy. Share and find data, quickly and easily. Simple, solid, slick. Frictionless and fast. Built for data scientists and wranglers. Managed by Datopian and Open Knowledge International">
    <meta name="keywords" content="data,datasets,data publishing,data sharing,data hosting,data package,reference data,indicators">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Google Tag Manager -->
    <script>
      try {
        if (!window.location.host.includes('datahub.io') && !window.location.host.includes('localhost')) {
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-WCTXGJ8');
        }
      } catch (err) {
        console.log('running on phantomjs');
      }
    </script>
    <!-- End Google Tag Manager -->
    <link rel="icon" type="img/ico" href="/static/img/favicon.ico" sizes="16x16">
    <link rel="stylesheet" media="screen" href="/static/stylesheets/app.css">
    <link rel="stylesheet" media="screen" href="/static/dpr-js/dist/main.css">
  </head>
  <!-- Views -->
  <body class="view">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCTXGJ8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="react-me part" data-type="data-views"></div>
    <div class="react-me tables" data-type="resource-preview" data-resource="0"></div>

    <!-- pass DP_ID to frontend -->
    <script type="text/javascript">
     var DP_ID = JSON.parse('{{ dpId | safe }}');
    </script>

    <script type="text/javascript" src="/static/dpr-js/dist/bundle.js"></script>
  </body>
</html>
