<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{title}}
    </title>
    <meta name="author" content="Datopian">
    <meta name="description" content="{{title}}. Data online made easy. Share and find data, quickly and easily. Simple, solid, slick. Frictionless and fast. Built for data scientists and wranglers. Managed by Datopian and Open Knowledge International">
    <meta name="keywords" content="data,datasets,data publishing,data sharing,data hosting,data package,reference data,indicators">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="img/ico" href="/static/img/favicon.ico" sizes="16x16">
    <link rel="stylesheet" media="screen" href="/static/stylesheets/app.css">
  </head>
  <!-- Views -->
  <body class="view-svg">
    {{svg|safe}}
  </body>
</html>
